<div class="header">
	<h1>Data Parameters</h1>
</div>

<div class="body">

	<div class="feedBack"></div>
	
	<form id="chartFrom">
	
		<label>Type:</label> <select id="message_type" class="selfWidth">
			<option value="INVOICE">Invoices</option>
			<option value="QUOTE">Quotes</option>
            <option value="PURCHASE_ORDER">Quotes</option>
		</select><br/>
	
		<label>Times span:</label> from <input id="chartFr" name="chartFr" class="date"/>
		 to <input id="chartTo" name="to" class="date"/><br/>
		
		<label>Grouped by : </label><br/>
		
		<p>The lines will be grouped and totals will be rekons based on the following criteria.
		Without criteria, the full lines details will be provided.</p>
		
		<div style="display: inline-block; width: 15em">
			<input type="radio" name="tempGroup" value="year"/> by year<br/>
			<input type="radio" name="tempGroup" value="quarter"/> by quarter<br/>
			<input type="radio" name="tempGroup" value="month" checked="checked"/> by month<br/>
			<input type="radio" name="tempGroup" value="week"/> by week<br/>
			<input type="radio" name="tempGroup" value="message_number"/> by document<br/>
			<input type="radio" name="tempGroup" value="none"/> on all the times-span<br/>
		</div>
		<div style="display: inline-block; width: 10em; vertical-align: top">
			<input type="checkbox" name="group" value="sender"/> by emitter<br/>
			<input type="checkbox" name="group" value="recipient"/> by customer<br/>
			<input type="checkbox" name="group" value="reference"/> by reference<br/>
			<input type="checkbox" name="group" value="description"/> by description<br/>
            <input type="checkbox" name="group" value="tax_rate"/> by tax rate
		</div>
			
		<div class="buttons" style="margin-top: 17px">
			<button class="actbt mainact ajax" id="send">Send<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
