<script type="text/x-template" id="doc-template-pickerComp" v-cloak>
  <popup
    id="doc-template-pickerWindow"
    :showw="showw"
    windowtitle="Choose a document template (experimental)"
    ref="docTemplatePopup"
    @close="$emit('close')"
    :winstyle="{'top' : '10rem', 'max-width': '51rem'}"
  >
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between">
    <div v-for="template in templates" @click.prevent="selectTemplate(template.id)"
      style="margin: 1rem; cursor: pointer; padding: 1rem 1rem">
      <img :src="templateIconUrl(template.id)" :title="'Template '+template.id" style="border: 0.3rem solid grey; width: 20rem; display: block"/>
      <div style="text-align: center">Template #{{template.id}}</div>
    </div>
  </div>
  <div class="buttons"><button class="actbt" @click.prevent="reinit">Re-initialisation</button></div>
  </popup>
</script>
