<!DOCTYPE html>
<html lang="en" class="noAuth">

<head>
  <link rel="stylesheet" type="text/css" href="../js/libs/trumbowyg/ui/trumbowyg.min.css" media="all" />
  <!-- START main_head -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-touch-fullscreen" content="yes"/>
	
	<link rel="icon" href="../img/favicon/favicon-32x32.png" type="image/png"/>	
	<link rel="apple-touch-icon" href="../img/favicon/apple-touch-icon-120x120.png"/>
	
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../css/large.css" media="screen and (min-width: 55em)"/>
	
	
	<!-- END main_head -->
  <meta http-equiv="Content-Language" content="en" />
  <meta name="description" content="Commercial documents creation form for invoices, quotes and other documents..." />
  <link rel="stylesheet" type="text/css" href="../css/editing.css" media="all" />
  <title>BonneFacture - Edition</title>
</head>

<body>
  <div id="messageEditor">
    <header id="compactTitle">
      <a class="backLnk" href="../../">
        <img id="logo" alt="Bonne facture - Quick invoice to be quickly paid" width="208" height="45"
          src="../img/logo-no-slogan.png" />
      </a>
      <div class="rightMenu">
        <div id="linkStatus" v-cloak>{{status}}</div>
        <div id="mainAjIndicator" v-bind:class="[loading ? 'on' : '', 'ajax-indicator']">
          &nbsp;
        </div>
      </div>
    </header>
    <div v-cloak :class="['messageDetails',message.message_type.toLowerCase()]">
      <div class="content">
        <div id="dashboard">
          <div id="mainFeedBack" class="feedBack"></div>
          <div id="dashboard-header">
            <div class="top-header">
              <nav id="secondary-menu" class="horizon">
                <menu-item
                    v-for="(mitem, index) in primaryActions"
                    :key="mitem.key"
                    :item="mitem"
                    :level="0"
                    @menu_click="menuclick($event)"
                  ></menu-item>
                  <div>
                    <a href="#"><i class="fa fa-plus-circle"></i><span class="lbl">Plus</span></a>
                    <div class="n1">
                      <menu-item
                        v-for="(mitem, index) in secondaryActions"
                        :key="mitem.key"
                        :item="mitem"
                        :level="0"
                        @menu_click="menuclick($event)"
                      ></menu-item>
                    </div>
                  </div>
                  <div><a href="#" @click.prevent="menuclick({key:'close'})"><i class="fa fa-times"></i><span class="lbl">Close</span></a></div>
              </nav>
              <div class="column-title" id="title-cell">
                <h1>
                  <span class="docType">{{docType}}</span>
                  <span class="messNum">
                    n°&nbsp;
                    <span id="message_number" class="edited">
                      <editable-text :readonly="readonly || !(editMessageNumber && !generateNumOnIssue)"
                        v-model="message.message_number" />
                    </span><span title="this number will be generated when issued"
                      v-if="generateNumOnIssue && !message.message_number">?</span>
                  </span>
                </h1>
                <span id="messageStatus">{{messageStatLabel}}</span>
              </div>
            </div>
            <div class="bottom-header">
              <div :class="{'person-cell': true, edited: readonly}" id="sender-cell">
                <label>Supplier</label>
                <person-picker
                    key="sender"
                    ref="sender"
                    :value="roles.sender"
                    window_title="Fournisseur"
                    for="sign"
                    explaination="Selectionner l'une de vos identité. Pour en modifier une, rendez-vous sur &lt;a href=&quot;id-settings.html&quot;&gt;la page idendité&lt;/a&gt;."
                    @change="changeRole('sender',$event)"
                    :readonly="readonly"
                    :connected="connected"
                  >
                  <person-display :value="roles.sender"></person-display>
                  </person-picker>
              </div>
              <div :class="{'person-cell': true, edited: readonly}" id="recipient-cell">
                <label>Customer</label>
                <person-picker
                    key="recipient"
                    ref="recipient"
                    :value="roles.recipient"
                    window_title="Client"
                    for="recipient"
                    @change="changeRole('recipient',$event)"
                    :readonly="readonly"
                    :connected="connected"
                  >
                    <person-display :value="roles.recipient"></person-display>
                  </person-picker>
              </div>
              <div class="information-cell">
                <div class="item dateEntry clearfix">
                  <div class="label">
                    Issue date :
                  </div>
                  <date-picker id="issue_date" v-model="message.issue_date" :readonly="readonly || !editIssueDate" />
                </div>
                <div class="item dateEntry clearfix">
                  <div class="label">
                    Due date :
                  </div>
                  <date-picker id="due_date" v-model="message.due_date" :readonly="readonly" />
                </div>
                <div class="item clearfix">
                  <div class="label">
                    Currency :
                  </div>
                  <currency-picker v-bind:value="message.currency" :readonly="readonly" @change="changeCurrency($event)"
                    class="value" style="position: relative;top: 1px;"></currency-picker>
                </div>
                <i @click="more_options=true" v-if="!more_options && !readonly" class="fa fa-plus-circle"
                  style="cursor: pointer"></i>
                <div v-if="more_options || readonly">
                  <i @click="more_options=false" class="fa fa-minus-circle" style="cursor: pointer"
                    v-if="!readonly"></i>
                  <div v-if="!readonly || message.sender_reference" class="item clearfix">
                    <div class="label">
                      Supplier reference :
                    </div>
                    <editable-text v-model="message.sender_reference" class="value" />
                  </div>
                  <div v-if="!readonly || message.recipient_reference" class="item clearfix">
                    <div class="label">
                      Customer reference :
                    </div>
                    <editable-text v-model="message.recipient_reference" class="value" />
                  </div>
                  <div class="item clearfix">
                    <div class="label">
                      Language <i v-if="!readonly" class="fa fa-question-circle"
                        title="Vous pouvez éditer vos document dans la langue de vos clients. L'administration peut vous demander de les traduire en cas de contrôle."></i>
                      :
                    </div>
                    <select v-if="!readonly" v-model="message.lang" class="value">
                      <option value="fr">French</option>
                      <option value="en">English</option>
                      <option value="de">German</option>
                    </select>
                    <span class="value">{{message.lang}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="dashboard-subject" class="text-section">
              <label for="subject">Object&nbsp;:</label>
              <div id="subject" :class="{edited : !readonly}">
                <editable-textarea v-model="message.subject" />
              </div>
            </div>
          </div>
          <div class="dashboard-content">
            <div id="topTools" class="toolMenu">
              <a class="showBt" href="#" title="Show tools"><i class="fa fa-wrench" aria-hidden="true"
                  @click.prevent=""></i></a>
              <div class="menuActs">
                <a id="searchBt" href="#" title="Catalog" v-if="!readonly"
                  @click.prevent="catLineIndex=-1;catalogOpened=true"><i class="fa fa-book" aria-hidden="true"></i></a>
                <a id="selectToggleBt" href="#" title="Toggle line selector" @click.prevent="selectCol= !selectCol"><i
                    class="fa fa-check-square-o" aria-hidden="true"></i></a>
                <a id="selectAllBt" href="#" title="Select all" @click.prevent="selectAll"><i class="fa fa-check-square"
                    aria-hidden="true"></i></a>
                <a id="unselectBt" href="#" title="Un-select all" @click.prevent="selectCol = true;lineSelection=[]"><i
                    class="fa fa-square-o" aria-hidden="true"></i></a>
                <a id="copyBt" href="#" title="Copy" @click.prevent="selectCol = true;copy(treatIdx(lineSelection))"><i
                    class="fa fa-files-o" aria-hidden="true"></i></a>
                <a id="cutBt" href="#" title="Cut" v-if="!readonly"
                  @click.prevent="selectCol = true;cut(treatIdx(lineSelection))"><i class="fa fa-scissors"
                    aria-hidden="true"></i></a>
                <a id="pasteBt" href="#" title="Paste" v-if="!readonly" @click.prevent="paste(0)"><i
                    class="fa fa-clipboard" aria-hidden="true"></i></a>
              </div>
            </div>
            <catalog-picker v-if="catalogOpened" window_title="Catalog search" @select="insertItem($event.item)"
              @close="catalogOpened=false"></catalog-picker>
            <payment-editor v-if="paymentEditorOpened" :message_id="message.id" :currency="message.currency"
              :to_pay="toPay" :before_send="before_send"
              @input="paymentEditorOpened=false;feedback($event);loadMessage($event)"
              @close="paymentEditorOpened=false"></payment-editor>

            <table id="lines-table" v-cloak>
              <thead>
                <tr>
                  <th class="select no-border" v-if="selectCol"></th>
                  <th scope="col" class="first reference" v-if="itemRefColumn">
                    Réf
                  </th>
                  <th scope="col" v-bind:class="[itemRefColumn ? '' : 'first','description']">
                    Desc<span class="med">ription</span>
                  </th>
                  <th scope="col" class="quantity" :colspan="UoMColumn ? 2 : 1">
                    <span class="smal">QTY</span><span class="med">Quantity<span class="unit"> / Unit</span></span>
                  </th>
                  <th scope="col" class="unit-price">
                    <span class="smal">UP</span><span class="med">Unit Price<br />
                      <a v-if="!readonly" style="font-size: 0.7em"
                        title="Enter negative prices for discounts.">Discounts ?</a></span>
                  </th>
                  <th scope="col" class="subtotal">
                    <span class="smal">TP</span><span class="med">Amount</span>
                  </th>
                  <th scope="col" class="vatElem last vat" v-if="!message.noVat">
                    VAT
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(line, index) in message.lines" :line="line" :index="index" class="item-line">
                  <td class="select no-border" v-if="selectCol">
                    <input type="checkbox" v-model="lineSelection[index]" />
                  </td>
                  <td v-if="itemRefColumn" v-bind:class="[!readonly ? 'edited' : '', 'first', 'reference']">
                    <template v-if="readonly">{{line.item.reference}}</template>
                    <input v-else-if="!readonly" type="text" @change="checkBlanklines();rekonLine(line)"
                      v-model="line.item.reference" />
                  </td>
                  <td v-bind:class="[!readonly ? 'edited' : '', itemRefColumn ? '' : 'first','description']">
                    <template v-if="readonly">{{line.item.description}}</template>
                    <textarea v-else-if="!readonly" @change="checkBlanklines();rekonLine(line)"
                      v-model="line.item.description"></textarea>
                    <div class="toolBt" v-if="!readonly">
                      <span v-if="openLineTool==index">
                        <a id="topBt" href="#" title="Top" v-if="!readonly && index > 0"
                          @click.prevent="top(index);openLineTool=0"><i class="fa fa-angle-double-up"
                            aria-hidden="true"></i></a><a id="upBt" href="#" title="Upwards"
                          v-if="!readonly && index > 0" @click.prevent="up(index);openLineTool--"><i
                            class="fa fa-angle-up" aria-hidden="true"></i></a><a id="downBt" href="#" title="Downwards"
                          v-if="!readonly && index < (message.lines.length - 1)"
                          @click.prevent="down(index);openLineTool++"><i class="fa fa-angle-down"
                            aria-hidden="true"></i></a><a id="bottomBt" href="#" title="Bottom"
                          v-if="!readonly && index < (message.lines.length - 1)"
                          @click.prevent="bottom(index);openLineTool = message.lines.length - 1"><i
                            class="fa fa-angle-double-down" aria-hidden="true"></i></a><a id="searchLineBt" href="#"
                          title="Catalog" v-if="!readonly" @click.prevent="catLineIndex=index;catalogOpened=true"><i
                            class="fa fa-book" aria-hidden="true"></i></a><a id="trashBt" href="#" title="Delete"
                          v-if="!readonly" @click.prevent="delLine([index]);openLineTool=-1"><i class="fa fa-trash"
                            aria-hidden="true"></i></a><a id="copyLineBt" href="#" title="Copy"
                          @click.prevent="copy([index]);openLineTool=-1"><i class="fa fa-files-o"
                            aria-hidden="true"></i></a><a id="cutLineBt" href="#" title="Cut" v-if="!readonly"
                          @click.prevent="cut([index]);openLineTool=-1"><i class="fa fa-scissors"
                            aria-hidden="true"></i></a><a id="pasteLineBt" href="#" title="Paste" v-if="!readonly"
                          @click.prevent="paste(index);openLineTool=-1"><i class="fa fa-clipboard"
                            aria-hidden="true"></i></a> </span><i class="fa fa-wrench"
                        @click.prevent="openTools(index)"></i>
                    </div>
                  </td>
                  <td v-bind:class="[!readonly ? 'edited' : '', 'quantity', 'number']">
                    <template v-if="readonly">{{line.quantity}}</template>
                    <amount-input v-else-if="!readonly" @input="line.quantity=$event;rekonLine(line)"
                      v-model="line.quantity"></amount-input>
                  </td>
                  <td v-if="UoMColumn" v-bind:class="[!readonly ? 'edited' : '', 'unit']">
                    <template v-if="readonly">{{line.item.unit}}</template>
                    <input v-else-if="!readonly" v-model="line.item.unit" />
                  </td>
                  <td v-bind:class="[!readonly ? 'edited' : '', 'unit_price','amount']">
                    <template v-if="readonly">{{line.item.unit_price | formatMoney}}</template>
                    <amount-input v-else-if="!readonly" @input="line.item.unit_price=$event;rekonLine(line)"
                      v-model="line.item.unit_price" :decimals="currencyPrecision"></amount-input>
                  </td>
                  <td class="subtotal amount">
                    {{line && line.subTotal | formatMoney2}}
                  </td>
                  <td v-bind:class="[!readonly ? 'edited' : '', 'tax_rate','vatElem','last', 'percent']"
                    v-if="!message.noVat">
                    <template v-if="readonly">{{line.tax_rate}}</template>
                    <amount-input v-else-if="!readonly" @input="line.tax_rate=$event;rekonLine(line)"
                      v-model="line.tax_rate" suffix=" %"></amount-input>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr id="subtotal-line" class="total-line">
                  <td class="no-border" id="sideBottom" :colspan="(selectCol ? 1 : 0) + (itemRefColumn ? 2 : 1) "
                    rowspan="6"></td>
                  <th class="subTotal" :colspan="totalSpan">
                    Total<template v-if="message.noVat"> VAT-excl</template>
                  </th>
                  <td class="amount">{{totals && totals.subTotal | formatMoney2}}</td>
                </tr>
                <tr id="vat-line" class="total-line vatElem" v-if="!message.noVat">
                  <th :colspan="totalSpan">VAT</th>
                  <td class="amount">{{totals && totals.vat | formatMoney2}}</td>
                </tr>
                <tr id="total-line" class="total-line vatElem">
                  <th class="subTotal" :colspan="totalSpan">
                    Total<template v-if="!message.noVat"> VAT-incl</template>
                  </th>
                  <td class="amount">{{totals && totals.total | formatMoney2}}</td>
                </tr>
                <tr id="paid-line" class="total-line">
                  <th class="subTotal" :colspan="totalSpan">
                    <span class="paidLabel">Paid</span>
                    <span class="orderPaidLabel">On order</span>
                  </th>
                  <td :class="{amount:true, edited: !readonly}">
                    <template v-if="readonly">{{message.paidAmount | formatMoney2}}</template>
                    <amount-input v-else-if="!readonly" v-model="message.paidAmount"></amount-input>
                  </td>
                </tr>
                <tr id="topay-line" class="total-line">
                  <th class="subTotal" :colspan="totalSpan">
                    <span class="toPayLabel">To Pay</span>
                    <span class="dueDatePaidLabel">When due</span>
                  </th>
                  <td class="amount">
                    {{ toPayFirst | formatMoney2(currencyPrecision)}}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div id="mess-footer-block" class="text-section">
            <div class="buttons" v-if="!readonly">
              <a style="text-decoration: none;" @click.prevent.stop="openMentions" href="#">+ Possible mentions ?...</a>
            </div>
            <popup id="mentionWindow" :showw="mentionOpenned" windowtitle="Mentions courantes"
              @close="mentionOpenned = false" ref="mention"
              :winstyle="{'max-width': '60em', width: '100%', color: 'black'}">
              <usual-mentions v-if="mentionOpenned" @paste="pasteMention($event)"></usual-mentions>
            </popup>
            <div class="message">
              <label for="message-footer">Summary Note:</label>
              <editable-textarea id="summary_note" v-model="message.summary_note" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <sending style="z-index: 20" v-if="sendingLoaded" :showw="sendingLoaded" :sender="roles.sender"
      :recipient="roles.recipient" :message="message" :before_send="before_send" @close="sendingLoaded = false"
      @sent="sendingLoaded = false;loadMessage($event)" @share="loadMessage($event)" :connected="connected"></sending>
    <popup v-cloak id="historyWindow" :showw="historyOpened" windowtitle="Historique" @close="historyOpened = false"
      ref="historyPopup">
      <div id="historyEventList">
        <div v-if="!message.actions || message.actions.length == 0">
          <p>
            This history is list of all the actions taken related to this
            document like:
          </p>
          <ul style="margin: 0 0 1em 3em;">
            <li>modifications,</li>
            <li>sendings,</li>
            <li>read recepts,</li>
            <li>payments,</li>
            <li>and all the comments you added to help...</li>
          </ul>
          <p>
            This document has just been created and has no history. Save it to
            start to fill it.
          </p>
        </div>
        <div v-else>
          <div v-for="(action, index) in message.actions" v-if="action.type!='ACTION_CANCELED'"
            :class="['action',action.canceledby ? 'canceled' : '']">
            <div class="date">{{action.date | dateTimeFormat}}</div>
            <div class="label">{{historyLabel(action)}}</div>
            <span class="cancel" v-if="action.canceledby">({{cancelActionLabel(action)}})</span>
            <a v-if="action.cancelable && !action.canceledby" href="#" class="cancelBt"
              @click.prevent="cancelAction(action, index)"><i class="fa fa-trash-o"></i></a>
            <div v-for="(sending, sendingIndex) in action.sendings" class="sending">
              <span v-html="sendingPaymentLabel(sending)"></span><span v-if="sending.errorCode"
                class="errMsg">{{sendErrorLabel(sending)}}</span>
            </div>
            <div v-for="(payment, paymentIndex) in action.payments" class="payment">
              {{historyPaymentLabel(payment)}}
            </div>
          </div>
        </div>
      </div>
    </popup>
    <popup v-cloak id="cancelWindow" :showw="cancelOpened" windowtitle="Annulation" @close="cancelOpened = false"
      ref="cancelPopup">
      To cancel an invoice, you must send a credit invoice, too named "have",
      of the same amount. Your invoice will only be canceled when your credit
      memo has been issued.
      <div class="buttons" style="margin-top: 17px">
        <indicated-button v-bind:loading="loading" @click="submitCancel">Create a credit note</indicated-button>
      </div>
    </popup>
  </div>
  <!-- START footer-scripts -->
<script src="https://polyfill.io/v3/polyfill.js?features=Intl%2Cdefault"></script>
<script src="../js/ns4.js"></script>
<script src="../js/update-warn.js"></script>
<!-- END footer-scripts -->
  <script type="text/javascript">
    ns.load([
      "../js/libs/datepicker/tiny-date-picker.js",
      "../js/vue-comp.js",
      "../js/personEditorv2.js",
      "../js/currency-picker.js",
      "../js/libs/jquery.ns-autogrow.js",
      "../js/libs/trumbowyg/trumbowyg.js",
      "../js/stripeloader.js",
      "../js/edit-commercialv.js"
    ]);
  </script>
</body>

</html>