<p>Register now to get your 3 month trial membership!</p>

<p>Here are our offers.</p>

<table class="pricing">
	<tr>
		<th style="border:0"></th>
		<th>Trial</th>
		<th>SOHO</th>
		<th>Standard</th>
		<th>White-mark</th>
	</tr>
	<tr>
		<td class="function">Account creation</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">PDF documents creation (Quotes, Invoices, ...)</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">Address-book</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">Payment follow-up</td>
		<td>&nbsp;</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">Your logo on your document</td>
		<td>&nbsp;</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">Send by e-mail</td>
		<td>&nbsp;</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">VAT management</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">Your own branded site</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<td class="function">Available to your customers / partners</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><img src="../../resources/mantam.netscribe.NetscribeModule/web/res/green-check.gif" alt="check"/></td>
	</tr>
	<tr>
		<th class="function">Price</th>
		<th>3 month free</th>
		<th>2,5€ HT / month</th>
		<th>3,5€ HT / month</th>
		<th>Ask us!</th>
	</tr>
	<!-- 	<tr><td>Stockage standard, par Go et par mois<br/>
(Pour vos pièces jointes telles que CGV)</td><td>1 €</td></tr>
<tr><td>Envoi de documents par fax, la page</td><td>X c</td></tr>
<tr><td>Notification SMS</td><td>X €</td></tr>
<tr><td>Archivage légal 10ans, par Mo
(soit environ X documents d'une page sans logo et sans CGV)</td><td>X €</td></tr> -->
</table>
