<!DOCTYPE html>
<html lang="fr">
 <head> 
  <!-- START main_head -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-touch-fullscreen" content="yes"/>
	
	<link rel="icon" href="../img/favicon/favicon-32x32.png" type="image/png"/>	
	<link rel="apple-touch-icon" href="../img/favicon/apple-touch-icon-120x120.png"/>
	
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../css/large.css" media="screen and (min-width: 55em)"/>
	
	
	<!-- END main_head --> 
  <!-- START messaging-head -->	<!-- END messaging-head --> 
  <title>BonneFacture - My Documents</title> 
  <meta http-equiv="Content-Language" content="en" /> 
 </head> 
 <body class="message-list"> 
  <div id="page"> 
   <!-- START header-en -->		
		<header>
			<div id="header-top">
				<div class="region-wrapper">
					<nav id="top-bar" class="horizon">
                        <div class="share">
                            <a id="fbBt" class="shaIt invisible" rel="external" target="_blank" href="http://www.facebook.com/bonnefacture"><i class="fa fa-facebook-official"></i></a>
                            <a id="liBt" class="shaIt invisible" rel="external" target="_blank" href="https://www.linkedin.com/showcase/13337475/"><i class="fa fa-linkedin-square"></i></a>
                            <a id="twBt" class="shaIt invisible" rel="external" target="_blank" href="http://twitter.com/BonneFacture"><i class="fa fa-twitter-square"></i></a>
                            <a id="shareLnk" href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
						<div class="noAuth">
							<span><i class="fa fa-sign-in"></i> Login</span>
							<div id="loginTopMenu" class="n1">
								<div>
									<a id="topLoginLnk" class="loginLnk" href="/v/invoicing/"><i class="fa fa-sign-in"></i> Login</a>
								</div>
								<div>
									<a id="topRegisterLnk" href="/v/register/"><i class="fa fa-key"></i> Register</a>
								</div>
							</div>
						</div>
						<div class="auth">
							<span><i class="fa fa-user"></i><span id="auth-status" class="inlineForLarge"> My account</span></span>
							<div id="profileTopMenu" class="n1">
								<div>
									<a id="logoutLnk" class="local-action auth logoutLnk" href="#"><i class="fa fa-sign-out"></i> Logout</a>
								</div>
							</div>
						</div>
						<div class="auth">
                            <a id="profileBt" href="user-settings.html"><i class="fa fa-cog"></i><span class="inlineForLarge"> Parameters</span></a>
						</div>
						<div>
							<span><i class="fa fa-life-ring"></i> Support</span>
							<div id="helpTopMenu" class="n1">
								<div>
									<a id="supportLnk" href="#"><i class="fa fa-life-ring"></i><span class="lbl"> Ask for help</span></a>
								</div>
								<div>
									<a id="docBt" href="help.html"><i class="fa fa-book"></i><span class="lbl"> Help and F.A.Q</span></a>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		
			<div id="header-bottom">
				<div class="region-wrapper">
					<a id="logo" href="../../"><img
						alt="Bonne facture" src="../img/logo-no-slogan-2.svg" />
						<div id="slogan">A quick invoice to be quickly paid</div></a>
					<div id="mainAjIndicator" class="ajax-indicator">&nbsp;</div>
				</div>
			</div>
		</header>
		
		<!-- END header-en --> 
   <div class="main region-wrapper"> 
    <!-- START main-nav-en -->
			<nav id="main-menu" class="menu">
				<a class="opener" href="#"><i class="fa fa-bars"></i></a>
				<div class="options">
					<a id="messageListLnk" href="messages_list.html" class="active-trail">My documents</a>
					<a id="addressList" href="contacts.html">Contacts</a>
					<a id="overviewLnk" href="overview.html">Data</a>
				</div>
			</nav>
			<!-- END main-nav-en --> 
    <div id="main-inner" class="dash"> 
     <div id="message_list_view" class="content clearfix"> 
      <div id="dashboard"> 
       <div class="head"> 
        <h1>My Documents</h1> 
        <nav>
         <a @click.prevent="openNewDoc" href="#"><i class="fa fa-plus"></i> New document</a>
         <a @click.prevent="filterToggle" title="Search" href="#"><i class="fa fa-search"></i> Search /filter</a> 
        </nav> 
       </div> 
       <div id="advertising"></div> 
       <div id="mainFeedBack" class="feedBack"></div>
       <div class="feedBack">
        <div class="info" v-cloak v-if="success">Your subscription has been taken into account.</div>
        <div class="error" v-cloak v-if="cancel">Your subscription has not been taken into account.</div>
      </div>
       <form class="dashboard-content" method="post"> 
        <table v-cloak class="responsive dashboard"> 
         <thead> 
          <tr class="headerRow">
           <th class="subject-col"><a href="#" style="color: black" @click.prevent="setOrder('subject')">Objet</a></th> 
           <th class="adr-col">Correspondant</th> 
           <th class="date issue-col" title="Issue date"><a href="#" style="color: black" @click.prevent="setOrder('date')">Date</a></th> 
           <th class="date status-col">Status</th> 
           <th class="action-col">Actions</th> 
          </tr> 
          <tr v-cloak v-show="showFilterRow" class="filterRow"> 
           <th class="first subject-col">
               <select v-model="params.filter.type" style="width: 5.25em" @change="params.page=1"> <option selected="" value=""></option> <option value="QUOTE">Quote</option> <option value="PURCHASE_ORDER">Purchase Order</option> <option value="INVOICE">Invoice</option> <option value="CREDIT_NOTE">Credit Note</option> </select>
               <input v-model="params.filter.subject" @change="params.page=1" placeholder="Title, n°, ref" style="margin-left: 1em; width: calc(100% - 6.51em)" /></th> 
           <th class="personCrit adr-col"><input v-model="params.filter.person" @change="params.page=1"/></th> 
           <th class="dateCrit issue-col">Before <input id="toDateFilter" class="date" /></th>  
           <th class="statusCrit status-col"><select v-model="params.filter.status" @change="params.page=1">
               <option selected="" value=""></option>
               <option value="MODIFIED">Draft</option>
               <option value="ISSUED">Issued</option>
               <option value="ACCEPTED">Accepted</option>
               <option value="REFUSED">Refused</option>
               <option value="TO_PAY">To be paid</option>
               <option value="LATE">Late</option>
               <option value="CLOSED">Closed</option>
               <option value="TRASH">Trashed</option>
            </select></th> 
           <th class="action-col last-col no-border" colspan="2"> <button @click.prevent="search" class="actbt ajax" style="padding: 5px 0.3em;position: relative;top: 3px;">Search</button></th>
          </tr> 
         </thead> 
         <tbody>
            <tr v-cloak v-bind:class="key === 0 ? 'first' : ''" v-for="(message,key) in messages" @click="message.showMenu=false">
                <td class="subject-col">
                    <span class="ref">{{messageRef(message)}}</span>
                    <a v-bind:href="messageUrl(message)">{{message.subject | xssFilter}}</a>
                    <div class="total" v-if="message.total">{{amount(message)}}</div>
                </td>
                <td class="adr-col"><span class="from" v-if="message.folder=='INBOX' && messagePerson(message)">De&nbsp;</span><span v-if="message.folder!='INBOX' && messagePerson(message)" class="to">Pour&nbsp;</span>{{messagePerson(message)}}</td>
                <td class="date-col">{{(message.issue_date || message.status_date) | dateFormat}}</td>
                <td class="status-col">{{status(message)}}
                    <div v-for="statusMessage in message.statusMessages" v-bind:class="statusMessage.level">{{statusMessage.message}}</div>
                </td>
                <td class="action-col">
                    <a href="#" v-bind:class="'switch ' + (message.showMenu ? 'off' : 'on')" @click.prevent.stop="message.showMenu=true">&hellip;</a>
                    <div v-bind:class="'menu ' + (message.showMenu ? 'on' : 'off')">
                        <template v-for="act in message.userActions"> 
                        <a @click="doAction($event, act, message)" v-bind:href="actionUrl(message, act)" class="act" v-bind:data-action="act" v-bind:title="actionProp(act,'desc')" v-bind:target="act=='PRINT' ? '_blank' : ''"><i v-bind:class="'fa ' + actionProp(act,'graph')"></i></a>
                        </template>
                    </div>
                </td>
             </tr>
         </tbody> 
        </table> 
        <div v-cloak v-if="total_count == 0 && !filtered && !loading" class="placeHolder">
          This list does not contains any messages. To fill it, you must create and send invoices. 
        </div> 
        <div v-cloak v-if="total_count == 0 && filtered && !loading" class="placeHolder">
          No result matches your criteria.
        </div> 
        <div v-if="loading" class="placeHolder">
          Loading...
        </div>
        <div v-cloak class="pager" v-if="total_count > params.pageSize">
          <a href="#" v-if="params.orderval > 0" v-bind:title="'first' | localize" @click.prevent="goLastCurrentPage">&lt;&lt;</a>
          <a href="#" v-if="params.orderval > 0" rel="prev" v-bind:title="'prev' | localize" @click.prevent="goNextPage">&lt;</a>
          <span>{{total_count}}</span> {{'results' | localize}}
          <a href="#" v-if="messages.length == params.pageSize" rel="next" v-bind:title="'next' | localize" @click.prevent="goPreviousPage">&gt;</a>
        </div>
       </form> 
      </div>
      <popup v-cloak id="newDocWin" v-bind:showw="newDocOpen" @close="newDocOpen = false" windowtitle="New document" v-bind:winstyle="{'max-width': '25em'}">
        <div class="buttonStack">
        <div id="creationFeedback" class="feedBack"></div>
            <div>
                <p style="margin-bottom: 0.5em;">Please choose a type of document:</p>
                <a class="actbt" v-bind:href="'edit_commercialv.html?messageId=new&action=edit&message_type=QUOTE' + noVat + priceVatIncluded">Quote</a>
                <a class="actbt" v-bind:href="'edit_commercialv.html?messageId=new&action=edit&message_type=PURCHASE_ORDER' + noVat + priceVatIncluded">Purchase order</a>
                <a class="actbt" v-bind:href="'edit_commercialv.html?messageId=new&action=edit&message_type=INVOICE' + noVat + priceVatIncluded + feeNote">Invoice</a>
                <a class="actbt" v-bind:href="'edit_commercialv.html?messageId=new&action=edit&message_type=PROFORMA_INVOICE' + noVat + priceVatIncluded + feeNote">Proforma Invoice</a>
                <a class="actbt" v-bind:href="'edit_commercialv.html?messageId=new&action=edit&message_type=CREDIT_NOTE' + noVat + priceVatIncluded">Credit Note</a>
            </div>
            <a href="message-settings.html">Options</a>            
        </div>
      </popup>
     </div> 
    </div> 
   </div> 
   <!-- /main --> 
   <!-- START footer-en -->		
		<footer class="region-wrapper">
			<nav>
				<ul class="menu">
					<li class="first"><a id="tarif" href="/v/invoicing/subscription/">Pricing</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="licence.html">Licence</a></li>
					<li class="last"><a href="legal.html">Legal Notice</a></li>
				</ul>
			</nav>
		
			<div id="copyright">Copyright 2006-2024 Bonne Facture - All rights
				reserved</div>
		</footer>
		<!-- END footer-en --> 
  </div> 
  <!-- START footer-scripts -->
<script src="https://polyfill.io/v3/polyfill.js?features=Intl%2Cdefault"></script>
<script src="../js/ns4.js"></script>
<script src="../js/update-warn.js"></script>
<!-- END footer-scripts -->
  <script type="text/javascript">
  	ns.load(['../js/libs/datepicker/tiny-date-picker.js',"../js/vue-comp.js",'../js/messages_list2.js']);
  </script>
 </body>
</html>