<!DOCTYPE html>
<html lang="en">
 <head> 
  <!-- START main_head -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-touch-fullscreen" content="yes"/>
	
	<link rel="icon" href="../img/favicon/favicon-32x32.png" type="image/png"/>	
	<link rel="apple-touch-icon" href="../img/favicon/apple-touch-icon-120x120.png"/>
	
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../css/large.css" media="screen and (min-width: 55em)"/>
	
	
	<!-- END main_head --> 
  <title>BonneFacture - Password change</title> 
  <meta http-equiv="Content-Language" content="en" /> 
 </head> 
 <body> 
  <div id="page"> 
   <!-- START header-en -->		
		<header>
			<div id="header-top">
				<div class="region-wrapper">
					<nav id="top-bar" class="horizon">
                        <div class="share">
                            <a id="fbBt" class="shaIt invisible" rel="external" target="_blank" href="http://www.facebook.com/bonnefacture"><i class="fa fa-facebook-official"></i></a>
                            <a id="liBt" class="shaIt invisible" rel="external" target="_blank" href="https://www.linkedin.com/showcase/13337475/"><i class="fa fa-linkedin-square"></i></a>
                            <a id="twBt" class="shaIt invisible" rel="external" target="_blank" href="http://twitter.com/BonneFacture"><i class="fa fa-twitter-square"></i></a>
                            <a id="shareLnk" href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
						<div class="noAuth">
							<span><i class="fa fa-sign-in"></i> Login</span>
							<div id="loginTopMenu" class="n1">
								<div>
									<a id="topLoginLnk" class="loginLnk" href="/v/invoicing/"><i class="fa fa-sign-in"></i> Login</a>
								</div>
								<div>
									<a id="topRegisterLnk" href="/v/register/"><i class="fa fa-key"></i> Register</a>
								</div>
							</div>
						</div>
						<div class="auth">
							<span><i class="fa fa-user"></i><span id="auth-status" class="inlineForLarge"> My account</span></span>
							<div id="profileTopMenu" class="n1">
								<div>
									<a id="logoutLnk" class="local-action auth logoutLnk" href="#"><i class="fa fa-sign-out"></i> Logout</a>
								</div>
							</div>
						</div>
						<div class="auth">
                            <a id="profileBt" href="user-settings.html"><i class="fa fa-cog"></i><span class="inlineForLarge"> Parameters</span></a>
						</div>
						<div>
							<span><i class="fa fa-life-ring"></i> Support</span>
							<div id="helpTopMenu" class="n1">
								<div>
									<a id="supportLnk" href="#"><i class="fa fa-life-ring"></i><span class="lbl"> Ask for help</span></a>
								</div>
								<div>
									<a id="docBt" href="help.html"><i class="fa fa-book"></i><span class="lbl"> Help and F.A.Q</span></a>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		
			<div id="header-bottom">
				<div class="region-wrapper">
					<a id="logo" href="../../"><img
						alt="Bonne facture" src="../img/logo-no-slogan-2.svg" />
						<div id="slogan">A quick invoice to be quickly paid</div></a>
					<div id="mainAjIndicator" class="ajax-indicator">&nbsp;</div>
				</div>
			</div>
		</header>
		
		<!-- END header-en --> 
   <div class="main region-wrapper"> 
    <div id="main-inner"> 
     <div class="content clearfix">
      <div id="lostPassword" class="column-center lostPassword"> 
       <h1>Password change</h1> 
       <div class="feedBack"> 
        <div class="error" id="noCodeError" style="display:none">
          This page should be accessed by the link on the password recall email. This link has a code we don't detect here.  
        </div> 
       </div> 
       <div id="passwordFeedback" class="feedBack"> 
       </div> 
       <form v-if="showForm" method="POST" action="#" id="passwordChange"> 
        <input v-model="password" v-show="!showPassword" type="password" name="password"    placeholder="Mot de passe" /> 
        <input v-model="password" v-show="showPassword"  type="text"     name="passwordVis" placeholder="Mot de passe" style="display: none"/> 
        <i class="fa fa-eye" v-on:click.prevent="togglePass"></i> 
        <br /> 
        <button v-on:click.prevent="submitChange" class="actbt mainact ajax" >Changer 
         <div class="ajax-indicator">
           &nbsp; 
         </div></button> 
       </form> 
       <p><a v-if="returnLink" href="../../">Continue</a></p> 
     </div> 
    </div> 
   </div> 
   <!-- /main --> 
   <!-- START footer-fr -->		
		<footer class="region-wrapper">
			<nav>
				<ul class="menu">
					<li class="first"><a id="tarif" href="/v/invoicing/subscription/">Tarifs
							&amp; abonnements</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="licence.html">Conditions générales
							d'utilisation (CGU)</a></li>
					<li><a href="api.html">API</a></li>
					<li class="last"><a href="legal.html">Mentions légales</a></li>
				</ul>
			</nav>
		
			<div id="copyright">Copyright 2006-2024 Bonne Facture - Tous droits
				reservés</div>
		</footer>
		<!-- END footer-fr --> 
  </div> 
  <!-- START footer-scripts -->
<script src="https://polyfill.io/v3/polyfill.js?features=Intl%2Cdefault"></script>
<script src="../js/ns4.js"></script>
<script src="../js/update-warn.js"></script>
<!-- END footer-scripts --> 
    <script type="text/javascript">ns.load([
          "../js/passwordChange.js"]);</script>   
 </body>
</html>