<div class="header"><h1>Choose your payment system</h1></div>

<div class="body" id="paymentType" style="text-align:center">
	<div style="position: relative; margin: auto">
		<a id="etransacCbBt" class="paymentBt half" href="#" data-payment-type="etransacCb" style="display: inline-block; text-align: center">
			<img src="../img/pictures/logo-cb-eur.jpg" alt="Carte-bancaire of Euro-zone" style="width: 100%"/><br/>
            Euro-zone cards<br/>
			<span class="included" style="display:none">No fees</span><span class="charged">+ 0,9%</span>
		</a>
        <a id="etransacCbDevBt" class="paymentBt half" href="#" data-payment-type="etransacCbDev" style="display: inline-block; text-align: center">
			<img src="../img/pictures/logo-cb-dev.jpg" alt="Carte-bancaire outside Euro-zone" style="width: 100%"/><br/>
            Non-euro-zone cards<br/>
			<span class="included" style="display:none">No fees</span><span class="charged">+ 1,9%</span>
		</a>
		<!-- <a id="paypalBt" class="paymentBt choiceBt half" href="#" data-payment-type="paypal" style="display: inline-block; margin-left: 8px; text-align: center">
			<img src="../img/pictures/logo-paypal.jpg" alt="Paypal" style="width: 100%"/><br/>
			<span class="included" style="display:none">No fees</span><span class="charged">+ 4,7%</span>
		</a> -->
	</div>
</div>
