<script type="text/x-template" id="payment-editorComp" v-cloak>
  <popup
    id="paymentWindow"
    :showw="true"
    windowtitle="Register a payment"
    @close="$emit('close')"
  >
   <form id="paymentFrom">
     <label>Date: </label><date-picker v-model="payment.paymentDate"/><br/>
     <label>Amount: </label><amount-input class="amount" v-model="payment.amount" style="max-width:10em"/> {{currency}}<br/>
     <label>Type: </label><select v-model="payment.paymentType" style="max-width:12em">
       <option value="CASH">Cash</option>
       <option value="CB">Credit card</option>
       <option value="PAYPAL">Paypal</option>
       <option value="TRANSFERT">Transfert</option>
       <option value="CHECK">Check</option>
       <option value="OTHER">Other</option>
     </select><br/>
     <label>Description: </label><textarea v-model="payment.description"></textarea><br/>
     <input type="checkbox" v-model="payment.closing"/> This payment closes the invoice.
     <div class="buttons" style="margin-top: 17px">
      <button-indicated :main="true" @click="submit($event,'Paiement enregistré')">Register</button-indicated>
     </div>
   </form>
  </popup>
</script>
