<div class="header"><h1>Add a payment</h1></div>

<div class="body">
	<div class="feedBack"></div>

	<form id="paymentFrom">	
		<label>Date: </label><input class="date" id="paymentDate"/><br/>
		<label>Amount: </label><input class="amount" id="paymentAmount"/> <span id="paymentCurrency"></span><br/>
		<label>Type: </label><select id="paymentType">
			<option value="CASH">Cash</option>
			<option value="CB">Credit Card</option>
			<option value="PAYPAL">Paypal</option>
			<option value="TRANSFERT">Transfert</option>
			<option value="CHECK">Cheque</option>
			<option value="OTHER">Other</option>
		</select><br/>
		<label>Description: </label><textarea id="paymentDesc"></textarea><br/>
		<input type="checkbox" id="closing" checked="checked"/> This payment closes the invoice.
		<div class="buttons" style="margin-top: 17px">
			<button class="actbt mainact ajax" class="submitBt">Send<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
