<div class="header"><h1>Sending</h1></div>

<div class="body">

	<p>As you finished your document, please choose the type of sending.</p>
	
	<div id="sendTypes" class="buttons">
		<div data-type="email" class="mainact actbt">BonneFacture email</div>
		<div data-type="sharelink" class="actbt">Share-link</div>
		<div data-type="other" class="actbt">Yourself</div>
	</div>
	
	<form id="sendingFrom">
		<div class="feedBack"></div>
		<div class="emailSent">
			<label>From: </label><span class="senderOption"><input type="radio" name="exp" value="you"  checked="checked" style="margin-right: 1em"/> <span id="expLabel">Yourself</span></span> <input type="radio" name="exp" value="us" class="senderOption"/> BonneFacture<br/>
		</div>
		<div class="recipientPerson">
			<label>To: </label><div class="personDisplay edited" tabindex="0">Not filled</div>
		</div>
		<div id="sharelinkDisplay" style="display:none">
			<span>Link</span>
			<a class="shareLnk actbt" href="#"><i class="fa fa-share-alt"></i></a> <a class="emailLnk actbt" href="#"><i class="fa fa-at"></i></a> <a class="copyLnk actbt" href="#"><i class="fa fa-copy"></i></a> <span style="margin-left: 1em" id="shareUrl"></span>
			<p class="copied" style="display:none">The link has been copied to the clipboard.</p>
		</div>
		<div class="otherSent">
			<label style="width:100%">Comments: </label><br/>
			<textarea id="sendingComment"></textarea>
		</div>
		<div class="emailSent">
            <a href="#" id="planBt" style="float: right">Plan...</a>
            <div id="mailPlanning" style="display:none">
                First sending on <input id="sendingStartDate" class="date"/>
                Frequency <select id="sendingFrequency" style="width: 8em;">
                    <option value="once">Once</option>
                    <option value="1w">1 week</option>
                    <option value="2w">2 weeks</option>
                    <option value="1m">1 month</option>
                    <option value="2m">2 monthes</option>
                    <option value="3m">3 monthes</option>
                    <option value="6m">6 monthes</option>
                    <option value="1y">1 year</option>
                </select>
                last sending
                <input id="sendingEndDate" style="display:none; margin-right: 1em" class="date"/><input type="checkbox" id="sendingNeverEnds" checked="CHECKED"/> Forever
            </div>
            
			<label>Subject: </label><input type="text" name="sendingSubject" id="sendingSubject"/>
			<textarea id="emailBody"></textarea>
			<div class="bottomOptions">
				<input type="checkbox" id="keepAsTemplate"/>&nbsp;Keep this template for the next sendings.<br/>
				<a id="resetTemplateBt" href="#">Get back to the default template.</a>
			</div>
		</div>
		<div class="buttons" style="margin-top: 17px">
			<button class="sharelinkSent actbt ajax" id="createShare">Generate by share-link<div class="ajax-indicator">&nbsp;</div></button>
			<button class="actbt ajax" id="endShare" style="display:none">Terminate<div class="ajax-indicator">&nbsp;</div></button>
			<button class="emailSent otherSent actbt mainact ajax" id="send">Send<div class="ajax-indicator">&nbsp;</div></button>
			<button class="emailSent actbt ajax" id="preview">Get test mail<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>