<div class="header"><h1><span class="reg">Registration</span><span class="log">Log-in</span><span class="pw">Password reminder</span></h1></div>

<div class="body">
<p class="log">Please log in to access your workspace.</p>
<p class="reg">We are about to create you a personal profile to save your work.</p>
<p class="pw">We will send you a link by email to reset your password.</p>
<div class="feedBackTemplate">
	<p class="alreadyExists warn">This account already exists but with a different password. Please use the <a href="#" class="passwordRecLnk">callback password</a> function or create an account with a different email address.</p>
	<p class="notExists warn">This account does not exist, <a class="registerLnk" href="#">do you want to register ?</a></p>
</div>
<div class="feedBack">
</div>
<form action="#">

	<div class="reg licence" style="1em 0">
		<input class="reg agreeLicence" type="checkbox" checked="checked" name="agreeLicence"/>&nbsp;I have read and accept the <a href="licence.html" target="_blank">license to use</a>.<br/><span class="licenceWarn">You have to accept this to continue.</span><br/>
	</div>
	
	<div class="reg log">
		<a class="oauth-signin actbt connectGoogle" data-system="google" href="#"><span class="img"><img src="../img/gg/logo-google.png"/></span><span>Sign in with Google</span></a>
		<a class="oauth-signin actbt connectFacebook" data-system="facebook" href="#">Sign in with Facebook</a>
		<a class="oauth-signin actbt connectLinkedin" data-system="linkedin" href="#">Sign in with  LinkedIn</a>
		<p class="orSeparator">Ou</p>
	</div>
	
	<input class="reg log pw" type="text" name="email" placeholder="Email"/><br/>
	<div class="reg log">
		<input type="password" name="password" placeholder="Password"/><input type="text" name="passwordVis" placeholder="Password" style="display:none"/><i class="fa fa-eye"></i><br/>
	</div>
	
	<div class="buttons">
		<button id="signInBt" class="actbt mainact ajax log">Login<div class="ajax-indicator">&nbsp;</div></button>
		<button id="regBt" class="actbt mainact ajax reg">Register<div class="ajax-indicator">&nbsp;</div></button>
		<button id="sendBt" class="actbt mainact ajax pw">Send<div class="ajax-indicator">&nbsp;</div></button>
	</div>
	<div class="alternativeLinks">
		<div class="ref log"><a href="#" id="remindPwLnk" class="passwordRecLnk" >I forgot my password.</a></div>
		<div class="log pw"><a href="/v/register/" id="popRegisterLnk">Register</a></div>
		<div class="reg pw"><a href="#" id="popLoginLnk" class="loginLnk">I have already an account</a></div>
		<div class="nothks"><a href="#" id="noThanksLnk" class="loginLnk">No thanks</a></div>
	</div>
</form>

</div>