<div class="header"><h1>Standard Statements</h1></div>
<div class="body">
<p>Click on the links to add statements to your document.</p>
<ul>
<li><a href="#" class="toPaste">Regards.</a></li>
</ul>
</div>