<div class="header"><h1>Ask for help</h1></div>

<div class="body">

	<div class="feedBack"></div>
	
	<form method="post" action="#">
		<p>We are here to support you. <a href="help.html">An F.A.Q</a> is available for the most common issues.</p>
		<input type="text" name="email" placeholder="Your email for answer"/><br/>
		<input type="text" name="phone" placeholder="Your phone"/><br/>
		<textarea rows="6" name="content" placeholder="Please describe the circumstances of your issue and the browser used."></textarea>
		<div class="buttons">
			<button class="actbt mainact ajax">Send<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
