<div class="header"><h1>Créer un avoir</h1></div>

<div class="body">
	<div class="feedBack"></div>

	<form id="cancelInvoiceFrom">	
		Pour annuler une facture, vous devez envoyer une facture d'avoir, aussi nommée "avoir", du même montant. Votre facture sera
		annulée uniquement quand votre facture d'avoir aura été émise.
		<div class="buttons" style="margin-top: 17px">
			<button class="actbt mainact ajax" class="submitBt">Créer une facture d'avoir<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
