<script type="text/x-template" id="catalogPickerComp" v-cloak>
  <popup
      id="catalogWindow"
      :showw="true"
      :windowtitle="window_title"
      @close="$emit('close')"
      ><input
        v-model="search"
        @input="searchCatalog"
        style="margin-left:0.9em; margin-bottom: 10px"
      />
      <div
        v-bind:class="[searching ? 'on' : '', 'ajax-indicator']"
        style="margin-bottom: 12px;height: 1.5em;width: 1.5em;"
      >
        &nbsp;
      </div>
      <div
        class="results"
        v-show="items && items.length > 0"
        style="border: 0; border-top: 1px"
      >
        <div
          v-for="item in items"
          v-bind:wid="item.id"
          v-on:click.prevent="selectItem(item)"
        >
          {{item.item.reference}}<br v-if="item.item.reference" />
          {{item.item.description}} {{item.item.unit_price |
            formatMoney}} {{item.currency}}<span v-if="item.item.unit">
            / </span
          >{{item.item.unit}}
        </div>
      </div>
    </popup>
</script>
