<div class="header">
  <h1>Настройки графика</h1>
</div>

<div class="body">
  <div class="feedBack"></div>

  <form id="chartFrom">
    <label>Тип:</label>
    <select id="message_type" class="selfWidth">
      <option value="INVOICE">Счета-фактуры</option>
      <option value="QUOTE">Цитата</option>
      <option value="PURCHASE_ORDER">Заказ</option></select
    ><br />

    <label>Период:</label> с
    <input id="chartFr" name="chartFr" class="date" /> по
    <input id="chartTo" name="to" class="date" /><br />

    <label>Группировка : </label><br />

    <p>
      Строки будут сгруппированы, а итоги будут подведены в соответствии со
      следующими критериями. Без критериев, детали рядов представлены без
      графика.
    </p>

    <div style="display: inline-block; width: 15em">
      <input type="radio" name="tempGroup" value="year" /> в год<br />
      <input type="radio" name="tempGroup" value="quarter" /> в квартал<br />
      <input type="radio" name="tempGroup" value="month" checked="checked" /> в
      месяцs<br />
      <input type="radio" name="tempGroup" value="week" /> в неделю<br />
      <input type="radio" name="tempGroup" value="message_number" /> на один
      документ<br />
      <input type="radio" name="tempGroup" value="none" /> в течение всего
      периодаe<br />
    </div>
    <div style="display: inline-block; width: 10em; vertical-align: top">
      <input type="checkbox" name="group" value="sender" /> по эмитенту<br />
      <input type="checkbox" name="group" value="recipient" /> на одного
      клиента<br />
      <input type="checkbox" name="group" value="reference" /> по ссылке<br />
      <input type="checkbox" name="group" value="description" /> по описанию<br />
      <input type="checkbox" name="group" value="tax_rate" /> по налоговой
      ставке
    </div>

    <div class="buttons" style="margin-top: 17px">
      <button class="actbt mainact ajax" id="send">
        Отправить
        <div class="ajax-indicator">&nbsp;</div>
      </button>
    </div>
  </form>
</div>
