<div class="header"><h1>Import d'écriture</h1></div>

<div id="importWriting" class="body writingDisplay">
    
    <p>Vous allez importer des écriture par lot à partir d'un fichier. Cela peut être un relevé de compte par exemple. Le fichier doit ctenir des colonnes pour la date, le libellé et le montant. Les écritures seront créées entre deux comptes.</p>

	<div class="feedBack"></div>
	
	<form>
		<div class="formHead">
            <h2>Valeurs par défaut</h2>
			<label>Date: </label><input class="datePicker date" v-bind:class="emptyErr(defaultValues.date)"/>
			<label>Statut: </label><select name="status" class="status" v-model="defaultValues.status" v-bind:class="emptyErr(defaultValues.status)">
	           	<option value="VALID">Validé</option>
	           	<option value="PENDING" selected="selected">Non-terminé</option>
	           	<option value="UNVALID">Erreur</option>
	           	<option value="CHALLENGED">Litige</option></select>
	        <label>Libellé: </label><input class="label" name="label" v-model="defaultValues.label" v-bind:class="emptyErr(defaultValues.label)"/>
            <label>Pièce: </label><input class="proof" name="proof" v-model="defaultValues.proof"/>
            <label>Journal: </label><input name="journalCode" v-model="defaultValues.journalCode" @change="journalChanged" v-bind:class="emptyErr(defaultValues.journalCode)" style="width: 4em"/>
            <p>Pour un <i>débit</i> de l'import:</p>
            <label>Compte <em>débité</em>:</label><div class="accountPicker"><account-picker v-on:change="defaultValues.debitAccount = changeVal('importDebitAccount',$event)"/> 
            <label>Compte <em>crédité</em>:</label><d class="accountPicker"><account-picker v-on:change="defaultValues.creditAccount = changeVal('importCreditAccount',$event)"/>
            <label>Unité: </label><div class="assetPicker"><asset-picker v-on:change="defaultValues.asset = changeVal('importAsset',$event)"  v-bind:value="defAsset.path" v-bind:label="defAsset.label"/></div>
        </div>
		</div>
        
        <div>
            <label>Zone de copie:</label>
            <textarea v-model="importData" placeholder="Veuiller coller les écritures ici" v-on:change="parse()" style="overflow:hidden" cols="2000" wrap="soft" width="2000em"></textarea>
        </div>
		<div class="buttons" style="margin-top: 17px">
			<button class="actbt mainact ajax" v-on:click.prevent="submitImport">Importer<div class="ajax-indicator">&nbsp;</div></button>
		</div>
            
        <table class="accounting dashboard-table"> 
         <thead> 
          <tr class="headerRow"> 
           <th class="first-col">&nbsp;</th> 
           <th class="first date" title="Date">Date</th> 
           <th class="label">Libellé - Justificatif</th> 
           <th class="debit number">Debit</th> 
           <th class="credit number">Credit</th> 
           <th class="last-col">&nbsp;</th> 
          </tr>
         </thead>
         <tbody>
            <template v-for="writing in writings">
              <tr v-bind:wid="writing.id"> 
               <td class="first-col" v-bind:rowspan="writing.moves.length + 1">&nbsp;</td> 
               <td class="first date" v-bind:rowspan="writing.moves.length + 1">{{writing.date | dateTimeFormat }}</td> 
               <td class="label" colspan="3" v-on:click.prevent="openWriForm(null, writing, false)">{{writing.label}}</td> 
               <td class="last-col" v-bind:rowspan="writing.moves.length + 1">&nbsp;</td> 
              </tr>

              <tr v-for="move in writing.moves">
                  <td class="account" v-on:click.prevent="openAccRep">{{move.account.label}}</td> 
                  <td class="debit number"><template v-if="move.direction=='DEBIT'">{{move.amount | amountFormat}}<template v-if="move.asset.unit"> {{move.asset.unit}}</template></template></td> 
                  <td class="credit number"><template v-if="move.direction=='CREDIT'">{{move.amount | amountFormat}}<template v-if="move.asset.unit"> {{move.asset.unit}}</template></template></td> 
                </tr>
            </template>
            <tr>
                <td colspan="6" v-if="writings.length == 0">Copiez-collez vos écritures à partir d'un tableau dans la case ci-dessus.</td>
            </tr>   
         </tbody>
        </table>
	</form>
</div>
