<script type="text/x-template" id="loginComp" v-cloak>
  <vue-popup
    id="signInWindow"
    :showw="showw"
    :windowtitle="action=='log' ? Connexion : (action=='reg' ? 'Enregistrement' : 'Rappel mot de passe')"
    ref="signInPopup"
    @close="$emit('close')"
    :winstyle="{'top' : '10rem', 'width': '35rem'}"
    :loading="loading"
    :messages="messages">
  
  <p v-if="action=='log'">Для доступа к вашей рабочей области.</p>
  <p v-if="action=='reg'">Мы создадим личный профиль для записи работы.</p>
  <p v-if="action=='pw'">Мы отправим ссылку на повторную инициализацию пароля.</p>

  <form action="#">
    <div v-if="action=='reg'" class="licence">
      <input class="agreeLicence" type="checkbox" :checked="agreeLicence ? 'CHECKED' : ''" name="agreeLicence">&nbsp;Я прочитал и принимаю <a href="licence.html" target="_blank">условия</a><br>
      <span v-if="licenceWarn"class="warn">Вы должны принять это, чтобы продолжить.</span>
    </div>
    
    <div v-if="action=='reg' || action=='log'">
      <a class="oauth-signin actbt connectGoogle" @click.prevent="oauth('google')" href="#"><span class="img"><img src="../img/gg/logo-google.png"></span><span>Использовать Google</span></a>
      <a class="oauth-signin actbt connectFacebook" @click.prevent="oauth('facebook')"href="#">Использовать Facebook</a>
      <a class="oauth-signin actbt connectLinkedin" @click.prevent="oauth('linkedin')" href="#">Использовать LinkedIn</a>
      <p class="orSeparator">Итак</p>
    </div>
    
    <input type="text" name="email" placeholder="Электронная почта"><br>
    <p v-if="alreadyExists" class="warn">Эта учетная запись уже существует, но имеет другой пароль. Используйте функцию <a href="#" class="passwordRecLnk">напоминания пароля</a> или создайте учетную запись с другим адресом электронной почты.</p>
    <p v-if="notExists" class="warn">Эта учетная запись не существует, вы хотите <a class="registerLnk" href="#">зарегистрироваться?</a></p>
    <div v-if="action=='reg' || action=='log'">
      <input type="password" name="password" placeholder="Пароль"><input type="text" name="passwordVis" placeholder="Пароль" style="display:none"><i class="fa fa-eye"></i><br>
    </div>
    
    <div class="buttons">
      <indicated-button :id="action + 'Bt'"  :mainact="true" @click.prevent="trigger_action">
        <span v-if="action=='log'">Соединяться</span>
        <span v-if="action=='reg'">Запись</span>
        <span v-if="action=='pw'">Посылать</span>
      </indicated-button>
    </div>
    <div class="alternativeLinks">
      <div v-if="action=='reg' || action=='log'"><a href="#" id="remindPwLnk" class="passwordRecLnk" @click.prevent="action=='pw'">Я забыл пароль</a></div>
      <div v-if="action=='pw' || action=='log'"><a href="/v/register/" id="popRegisterLnk" @click.prevent="action=='reg'">Запись</a></div>
      <div v-if="action=='reg' || action=='pw'"><a href="#" id="popLoginLnk" class="loginLnk" @click.prevent="action=='log'">У меня уже есть счет</a></div>
      <div v-if="noThanks"><a href="#" id="noThanksLnk" class="loginLnk" style="display: none;" @click.prevent="noThanksAction">Спасибо, не надо</a></div>
    </div>
  </form>
  </vue-popup>
</script>