<div class="header"><h1>Ajouter un paiement</h1></div>

<div class="body">
	<div class="feedBack"></div>

	<form id="paymentFrom">	
		<label>Date: </label><input class="date" id="paymentDate"/><br/>
		<label>Montant: </label><input class="amount" id="paymentAmount"/> <span id="paymentCurrency"></span><br/>
		<label>Type: </label><select id="paymentType">
			<option value="CASH">Espèce</option>
			<option value="CB">Carte de crédit</option>
			<option value="PAYPAL">Paypal</option>
			<option value="TRANSFERT">Virement</option>
			<option value="CHECK">Chèque</option>
			<option value="OTHER">Autre</option>
		</select><br/>
		<label>Description: </label><textarea id="paymentDesc"></textarea><br/>
		<input type="checkbox" id="closing" checked="checked"/> Ce paiement solde la facture.
		<div class="buttons" style="margin-top: 17px">
			<button class="actbt mainact ajax" class="submitBt">Envoyer<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
