<div class="header"><h1>Envoyer</h1></div>

<div class="body">
  <p>
    La rédaction de votre document étant terminée, veillez choisir un mode
    d'envoi.
  </p>

  <div id="sendTypes" class="buttons">
    <div data-type="email" class="mainact actbt">Par email BonneFacture</div>
    <div data-type="sharelink" class="actbt">Lien de partage</div>
    <div data-type="other" class="actbt">Par mes propres moyens</div>
  </div>

  <form id="sendingFrom">
    <div class="feedBack"></div>

    <div class="emailSent">
      <label>Expéditeur: </label
      ><span class="senderOption"
        ><input
          type="radio"
          name="exp"
          value="you"
          checked="checked"
          style="margin-right: 1em"
        />
        <span id="expLabel">Vous-même</span></span
      >
      <input type="radio" name="exp" value="us" /> BonneFacture<br />
    </div>
    <div class="recipientPerson">
      <label>Destinataire: </label>
      <div class="personDisplay edited" tabindex="0">Non renseigné</div>
    </div>
    <div id="sharelinkDisplay" style="display:none">
      <span>Lien</span>
      <a class="shareLnk actbt" href="#"><i class="fa fa-share-alt"></i></a>
      <a class="emailLnk actbt" href="#"><i class="fa fa-at"></i></a>
      <a class="copyLnk actbt" href="#"><i class="fa fa-copy"></i></a>
      <span style="margin-left: 1em" id="shareUrl"></span>
      <p class="copied" style="display:none">
        Ce lien a été copié dans votre presse-papier.
      </p>
    </div>
    <div class="otherSent">
      <label style="width:100%">Commentaire pour mémoire: </label><br />
      <textarea id="sendingComment"></textarea>
    </div>
    <div class="emailSent">
      <a href="#" id="planBt" style="float: right">Planifier...</a>
      <div id="mailPlanning" style="display:none">
        Premier envoi le <input id="sendingStartDate" class="date" /> Fréquence
        <select id="sendingFrequency" style="width: 8em;">
          <option value="once">Une fois</option>
          <option value="1w">1 semaine</option>
          <option value="2w">2 semaines</option>
          <option value="1m">1 mois</option>
          <option value="2m">2 mois</option>
          <option value="3m">3 mois</option>
          <option value="6m">6 mois</option>
          <option value="1y">1 an</option>
        </select>
        dernier envoi
        <input
          id="sendingEndDate"
          style="display:none; margin-right: 1em"
          class="date"
        /><input type="checkbox" id="sendingNeverEnds" checked="CHECKED" />
        Jamais
      </div>
      <label>Sujet: </label
      ><input type="text" name="sendingSubject" id="sendingSubject" />
      <textarea id="emailBody"></textarea>
      <div class="bottomOptions">
        <input type="checkbox" id="keepAsTemplate" />&nbsp;Garder ce message
        comme modèle pour les envois suivants.<br />
        <a id="resetTemplateBt" href="#">Rétablir le modèle par défaut.</a>
        <!-- <br/>
				<input type="checkbox" id="usePayment"/>&nbsp;Autoriser le paiement BonneFacture. -->
      </div>
    </div>
    <div class="buttons" style="margin-top: 17px">
      <button class="sharelinkSent actbt ajax" id="createShare">
        Générer le lien de partage
        <div class="ajax-indicator">&nbsp;</div>
      </button>
      <button class="actbt ajax" id="endShare" style="display:none">
        Terminer
        <div class="ajax-indicator">&nbsp;</div>
      </button>
      <button class="emailSent otherSent actbt mainact ajax" id="send">
        Envoyer
        <div class="ajax-indicator">&nbsp;</div>
      </button>
      <button class="emailSent actbt ajax" id="preview">
        Voir un aperçu
        <div class="ajax-indicator">&nbsp;</div>
      </button>
    </div>
  </form>
</div>
