<script type="text/x-template" id="sendingComp" v-cloak>
  <popup
    id="sendingWindow"
    :showw="showw"
    windowtitle="Envoyer"
    ref="sendPopup"
    @close="$emit('close')"
  >
    <p>
      После завершения работы над документом выберите режим
отправления.
    </p>

    <div id="sendTypes" class="buttons">
      <div @click="sendType='email'; successMessage='Le message a été envoyé'; resetMessages()" :class="{actbt:true, mainact : sendType == 'email'}">
        По электронной почте
      </div>
      <div @click="sendType='sharelink'; successMessage=null; resetMessages()" :class="{actbt:true, mainact : sendType == 'sharelink'}">Lien de partage</div>
      <div @click="sendType='other'; successMessage='L\'envoi du message à été enregistré'; resetMessages()" :class="{actbt:true, mainact : sendType == 'other'}">Par mes propres moyens</div>
    </div>

    <form id="sendingFrom" style="margin-top: 1em">
      <div v-if="sendType == 'email'">
        <label>Отправитель: </label>
        <span class="senderOption">
          <input
            type="radio"
            name="exp"
            value="you"
            checked="checked"
            v-model="sendBy"/>
          <span id="expLabel">{{personLabel(sender)}}</span>
        </span>
        <input type="radio" name="exp" value="us" style="margin-left: 1em" v-model="sendBy"/> BonneFacture<br />
      </div>
      <div v-if="sendType == 'sharelink'" style="margin-bottom: 1em">
        <input type="checkbox" id="publicShare" v-model="publicShare"/> Публичная ссылка (без уведомления о получении)<br/>
      </div>
      <div v-if="sendType != 'sharelink' || (!shareUrl && !publicShare)" class="recipientPerson">
        <label>Получатель: </label>
        <person-picker
          for="recipient"
          :value="editedRecipient"
          window_title="Destinataire"
          @change="editedRecipient = $event.person; resetMessages()"
          class="recipientPerson"
          :winstyle="{'padding-top': '2px', 'z-index': 30}"
          :connected="connected">
          <person-email-display :value="editedRecipient"></person-email-display>
        </person-picker>
      </div>
      <div v-cloak v-show="sendType == 'sharelink' && shareUrl">
        <span>Связь</span>
        <input type="text" style="margin: 1em 0 1.2em 1em; display: inline-block; width: calc(100% - 3.3em)" id="shareUrl" readonly v-model="shareUrl" v-if="shareUrl"/>
        <a v-if="shareEnabled" class="shareLnk actbt" href="#" @click="share"><i class="fa fa-share-alt"></i></a>
        <a class="emailLnk actbt" :href="emailUrl"><i class="fa fa-at"></i></a>
        <a class="copyLnk actbt" href="#" data-clipboard-target="#shareUrl"><i class="fa fa-copy"></i></a>
        <p class="copied" style="display:none">
          Эта ссылка была скопирована в ваш пресс-журнал.
        </p>
      </div>
      <div v-cloak v-if="sendType == 'other'">
        <label style="width:100%">Комментарий для памяти: </label><br />
        <textarea id="sendingComment" v-model="sendingComment"></textarea>
      </div>
      <div v-cloak v-show="sendType == 'email'">
        <a
          href="#"
          style="float: right"
          @click.prevent="planningOpen = !planningOpen"
          >Спланировать...</a
        >
        <div v-if="planningOpen">
          Первая отправка
          <date-picker v-model="sendingStartDate"/> Частота
          <select v-model="sendingFrequency" style="width: 8em;">
            <option value="once">Однажды</option>
            <option value="1w">1 неделя</option>
            <option value="2w">2 недели</option>
            <option value="1m">1 месяц</option>
            <option value="2m">2 месяца</option>
            <option value="3m">3 месяца</option>
            <option value="6m">6 месяцев</option>
            <option value="1y">1 год</option>
          </select>
          <span v-if="sendingFrequency != 'once'">
            Последняя отправка
          <date-picker
            v-model="sendingEndDate"
            style="margin-right: 1em"
            v-if="!neverEnds"
          /><input
            type="checkbox"
            v-model="neverEnds"
          />
          Никогда
          </span>
        </div>
        <label>Тема: </label
        ><input type="text" name="sendingSubject" id="sendingSubject" v-model="sendingSubject"/>
        <div><textarea id="emailBody"></textarea></div>
        <div class="bottomOptions" v-if="sendType == 'email'">
          <input type="checkbox" v-model="keepAsTemplate"/>&nbsp;Сохранить это сообщение
          как шаблон для следующих отправлений.<br />
          <a id="resetTemplateBt" href="#" @click.prevent="resetTemplate">Восстановить шаблон по умолчанию.</a>
        </div>
      </div>
      <div class="buttons" style="margin-top: 17px">
        <button-indicated v-if="sendType == 'sharelink' && !shareUrl" class="sharelinkSent" :main="true" @click="createShare($event,true,'Lien généré')">Создание общей связи</button-indicated>
        <button-indicated v-if="sendType == 'sharelink' && shareUrl" @click="$emit('close')">Заканчиваться</button-indicated>
        <button-indicated v-if="sendType == 'email' || sendType == 'other' " :main="true" @click="send($event,true,false,successMessage)">Посылать</button-indicated>
        <button-indicated v-if="sendType == 'email'" @click="send($event,true,true,'Message envoyé')">Просмотр</button-indicated>
      </div>
    </form>
  </popup>
</script>
