<div class="header"><h1><span class="reg">Inscription</span><span class="log">Connexion</span><span class="pw">Rappel du mot de passe</span></h1></div>

<div class="body">
<p class="log">Для доступа к вашей рабочей области.</p>
<p class="reg">Мы создадим личный профиль для записи работы.</p>
<p class="pw">Мы отправим ссылку на повторную инициализацию пароля.</p>
<div class="feedBackTemplate">
	<p class="alreadyExists warn">Эта учетная запись уже существует, но имеет другой пароль. Используйте функцию <a href="#" class="passwordRecLnk">напоминания пароля</a> или создайте учетную запись с другим адресом электронной почты.</p>
	<p class="notExists warn">Эта учетная запись не существует, вы хотите <a class="registerLnk" href="#">зарегистрироваться?</a></p>
</div>
<div class="feedBack">
</div>
<form action="#">

	<div class="reg licence">
		<input class="reg agreeLicence" type="checkbox" checked="checked" name="agreeLicence"/>&nbsp;Я прочитал и принимаю <a href="licence.html" target="_blank">условия</a>.<br/><span class="licenceWarn">Вы должны принять это, чтобы продолжить.</span><br/>
	</div>
	
	<div class="reg log">
		<a class="oauth-signin actbt connectGoogle" data-system="google" href="#"><span class="img"><img src="../img/gg/logo-google.png"/></span><span>Использовать Google</span></a>
		<a class="oauth-signin actbt connectFacebook" data-system="facebook" href="#">Использовать Facebook</a>
		<a class="oauth-signin actbt connectLinkedin" data-system="linkedin" href="#">Использовать LinkedIn</a>
		<p class="orSeparator">Итак</p>
	</div>
	
	<input class="reg log pw" type="text" name="email" placeholder="Электронная почта"/><br/>
	<div class="reg log">
		<input type="password" name="password" placeholder="Пароль"/><input type="text" name="passwordVis" placeholder="Пароль" style="display:none"/><i class="fa fa-eye"></i><br/>
	</div>
	
	<div class="buttons">
		<button id="signInBt" class="actbt mainact ajax log">Соединяться<div class="ajax-indicator">&nbsp;</div></button>
		<button id="regBt" class="actbt mainact ajax reg">Запись<div class="ajax-indicator">&nbsp;</div></button>
		<button id="sendBt" class="actbt mainact ajax pw">Посылать<div class="ajax-indicator">&nbsp;</div></button>
	</div>
	<div class="alternativeLinks">
		<div class="ref log"><a href="#" id="remindPwLnk" class="passwordRecLnk" >Я забыл пароль</a></div>
		<div class="log pw"><a href="/v/register/" id="popRegisterLnk">Запись</a></div>
		<div class="reg pw"><a href="#" id="popLoginLnk" class="loginLnk">У меня уже есть счет</a></div>
		<div class="nothks"><a href="#" id="noThanksLnk" class="loginLnk">Спасибо, не надо</a></div>
	</div>
</form>

</div>