<!DOCTYPE html>
<html lang="fr" class="noAuth">
  <head>
    <!-- START main_head -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-touch-fullscreen" content="yes"/>
	
	<link rel="icon" href="../img/favicon/favicon-32x32.png" type="image/png"/>	
	<link rel="apple-touch-icon" href="../img/favicon/apple-touch-icon-120x120.png"/>
	
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../css/large.css" media="screen and (min-width: 55em)"/>
	
	
	<!-- END main_head -->
    <meta http-equiv="Content-Language" content="fr" />
    <meta
      name="description"
      content="Formulaire de création de documents commerciaux comme les factures et les devis."
    />
    <title>Stripe - checkout</title>
  </head>
  <body>
    <div id="stripe-checkout">
      <header id="compactTitle">
        <a class="backLnk" href="../../">
          <img
            id="logo"
            alt="Bonne facture - Facture rapide pour paiement rapide"
            width="208"
            height="45"
            src="../img/logo-no-slogan.png"
          />
        </a>
      </header>
    </div>
    Redirect to checkout after AJAX
    Print results (OK / cancelled)
    <!-- START footer-scripts -->
<script src="https://polyfill.io/v3/polyfill.js?features=Intl%2Cdefault"></script>
<script src="../js/ns4.js"></script>
<script src="../js/update-warn.js"></script>
<!-- END footer-scripts -->
    <script type="text/javascript">
      ns.load([
        "../js/stripeloader.js",
        "../js/stripeloader.js"
      ]);
    </script>
    <script>

      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx', {
  stripeAccount: '{{CONNECTED_STRIPE_ACCOUNT_ID}}'
});

stripe.redirectToCheckout({
  // Make the id field from the Checkout Session creation API response
  // available to this file, so you can provide it as parameter here
  // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
  sessionId: '{{CHECKOUT_SESSION_ID}}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
    </script>
  </body>
</html>
