fieldset#adEdition .val{
	width: 35.8em;
}

fieldset#adEdition label{
	width: 8em;
	font-weight: bold
}

.preview{
	margin: 1em 0;
}

div.referral{
	width: 48.2em;
	margin: 0 auto;
}

fieldset#referral{
	overflow: hidden;
}

fieldset#referral label{
	width: 8em;
}

fieldset#referral label.taLabel{
	margin-top: 1em;
	float: none;
	clear: both;
	width: 30em;
}

fieldset#referral input.val{
	width: 35em;
}

fieldset#referral textarea{
	margin-bottom: 1em;
	width: 46em;
}
