/* Regroupe all CSS information for large screens */

body, p, input{
	font-size: 1.3rem;
}

/* Tablet Large 880px (55em) */

.blockForLarge{
	display: block;
}

.iblockForLarge{
	display: inline-block !important;
}

.inlineForLarge{
	display: inline;
}

.halfCol{
    display: inline-block;
    min-width: 50%;
}

.column-left{
	width: 13%;
}

.column-center{
	width: 49%;
	margin-left: 13%;
}

.column-center-left{
	width: 62%;
}

.column-center-right{
	width: 87%;
	margin-left: 13%;
}

.column-right{
	width: 38%;
}

#header-top {
	font-size: 1.2rem;
	height: 30px;
	padding-top: 0.1rem;
}

.icons{
	font-size: 1rem;
}

.amount{
    min-width: 7em;
}

#header-top .region-wrapper{
	text-align: right;
}

#header-top nav > div{
	padding: 0.2rem 0.1rem 2rem;
	margin-right: 1rem;
}

#header-top nav .n1 {
	top: 16px;
	white-space: nowrap;
}

#header-top .share{
	position: relative;
	font-size: 1.8rem;
	/* top: 0.1em; */
}

#slogan{
	left: 6rem;
	top: -0.2rem;
	letter-spacing: 0.06em;
	font-size: 1.2rem;
}

.home #highlight{
	position: relative;
	height: 35rem;
	background: url(../img/pictures/clocks.jpg) no-repeat;
	background-size: 100%;
	padding: 0;
}

.home #highlight .call2action{
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	width: 40rem;
	padding: 4rem 1rem 3rem 6rem;
	text-align: left;
}

	.home #highlight .call2action p{
		margin-bottom: 1.2em;
		font-size: 1.9rem;
	}

	.home #highlight .call2action .bt{
		font-size: 1.8rem;
		padding: 0.8rem 4.5rem;
		/* margin-bottom: 0em; */
	}

	.home .content .column-left {
		padding: 2.9rem 0 0 2.5rem;
	}

	.home .content .column-left .introduction{
		font-size: 1.5rem;
	}

	.home .content .column-left h3{
		font-size: 1.86rem;
		margin-top: 0.5rem;
	}

	.offer {
		position: relative;
		padding: 0 0 0.9rem 10rem;
	}

	.offer ul{
		margin-top: 2rem;
		margin-left: 0;
		font-size: 1.3rem;
	}

	.offer ul li{
		line-height: 1.8em;
	}

#highlight.login{
	background-image: url(../img/pictures/login-classic.jpg);
}

#highlight.login > div{
	padding-top: 12rem;
}

.contentPage #highlight{
	background: url("../img/pictures/home.jpg") no-repeat 0 0;
	background-color: #0A3794;
	height: 339px;
}

/**
 * Settings home
 */
.settings #highlight {
  background: url("../img/pictures/settings-home.jpg") 0 0;
  color: #FFFFFF;
}

.settings #highlight .column-center{
    background-color: #145D5B;
}

.settings .dashboard-content > div{
	display: inline-block;
	vertical-align: top;
}

.settings .dashboard-content{
	padding: 0 2.8rem;
}

nav.side{
	display: inline-block;
	max-width: 30%;
	margin-top: 2.3rem;
	background-color: inherit;
}

nav a{
	text-decoration: none;
}

.settings .dashboard-content .body{
	width: 70%;
}

#passwordChange{
	max-width: 30rem;
}

#passwordChange input{
	margin: 1rem 1rem 1rem 0;
}

body{
	/* background: url(../../design-home.jpg) -158px -2px; */
	/* background: url(../../design-inbox.png) -230px -57px; */
}

*{
	/* opacity: 0.9; */
}


#main-menu {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.1rem;
  min-height: 2.5rem;
  background-color: white;
  text-align: left;
}

	#main-menu .opener{
		display: none;
	}
	
	#main-menu .options{
		display: block;
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}

	#main-menu .options > * {
	  display: inline-block;
	  padding: 1rem 1.6rem 1.3rem;
	  margin-left: 0.4rem;
	}

	#dashboard .head {
	  line-height: 1.83rem;
	  padding: 1.8rem 4rem 1rem;
	}

		#dashboard .head nav{
			float: right;
			padding-top: 0.6rem;
		}

			#dashboard .head nav a{
				display: inline-block;
				margin: 0 1rem 0 0;
			}

	#dashboard .dashboard-content {
		padding: 4px 25px;
		width: 100%;
		/* border-radius: 5px; */
	}

	.ad{
		padding: 0.5em 3.3rem;
	}

	.ad i.fa {
		right: 3.3rem;
	}

	table.dashboard-table *.first-col, table.dashboard-table *.last-col {
	  display: table-cell;
	  border: 0 none;
	}

	table.dashboard-table tbody tr:first-child td{
	  height: 2.5rem;
	  padding-top: 1.5rem;
	}

	table.dashboard-table .first-col,
	table.dashboard-table .last-col{
		display: table-cell;
	}

	table.dashboard-table .subject-col{
		padding-left: 0;
	}

	table.dashboard-table .adr-col{
		min-width: 10em;
		width: 15%;
	}

    table.dashboard-table .total-col,
	table.dashboard-table .issue-col{
		min-width: 7.3em;
	}

	table.dashboard-table .status-col{
		min-width: 6.5em;
	}

	table.dashboard-table .action-col{
		min-width: 7em;
	}

	table.dashboard-table *.action-col, table.dashboard-table *.last {
	  border-right: 0;
	}

	nav.horizon > div > a > .lbl {
		margin: 3px 3px 0 3px;
		display: inline-block;
	}

	#secondary-menu div{
		padding: 0.5rem 1%;
		font-size: 1.5rem;
	}
	
	.event #main-inner{
		padding: 5rem 1rem;
	}
	
	.event img{
		display: inline-block;
		margin-left: 5%;
		max-width: 33%;
	}
	
	.event .desc{
		display: inline-block;
		width: 56%;
		vertical-align: top;
		margin-top: 2em;
		margin-left: 2em;
	}

table.responsive{
    display: table;
}

    table.responsive tbody,
    table.responsive thead{
       display: table-row-group;
    }

    table.responsive tr{
        display: table-row;
    }

	table.responsive td{
		display: table-cell;
		position: initial !important;
	}

    table.responsive td *{
        position: initial;
    }

table.dashboard{
}

	table.dashboard a{
		text-decoration: none;
	}

	table.dashboard a:hover{
		text-decoration: underline;
	}

	table.dashboard thead{
		background-color: #808080;
		color: black;
	}

    table.dashboard th,
    table.dashboard td {
      border-width: 0 1px 1px;
      font-weight: normal;
      padding: 6px 12px;
      vertical-align: top;
    }

	 table.dashboard th{
	 	vertical-align: bottom;
	 }

    table.dashboard tbody th,
    table.dashboard tbody td {
      border-color: #333333;
      border-style: none solid solid;
      border-width: 0 1px 1px 0;
    }

    table.dashboard tbody tr.first td {
      padding-top: 1rem;
    }

    table.dashboard tbody tr:last-child td {
      border-bottom: 0;
    }

    table.dashboard tbody td:last-child {
      border-right: 0;
    }

    table.dashboard td.adr-col{
    	min-width: 12em;
    }

    table.dashboard td.date-col{
    	width: 7.35em;
    }

	table.dashboard td.status-col{
    	min-width: 8em;
    }

    table.dashboard td.action-col{
    	min-width: 6em;
    }

	table.dashboard td.action-col .switch{
    	display: none;
    }

    table.dashboard td.action-col .menu{
    	display: block;
    }

#accountReport table.dashboard-table td.number{
	  min-width: 7em;
	  white-space: nowrap;
}

.accounting.dashboard-table .status{
	min-width: 6.4em;
}

.accounting.dashboard-table .date{
	min-width: 7.2em;
}

.dashboard-table .filterRow .number{
	width: 10em;
}
    