
#homeLoginForm {
	width: 30em;
	margin-top: 10px;
}

#feedbackWindow textArea {
	height: 110px;
}

.content {
	width: 97%;
}

ul.feedbackPanel li{
	position: relative;
}

input.checkbox{
	border: 0 none;
	width: 13px;
}

form.edit textarea{
	font-size: 1em;
}

.menu li.onHover ul.n1 {
	display: block;
}