/**
 * Reset some elements for browser compatibility
 */
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

fieldset {
  border: 0;
}

textarea {
  font-family: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  /* list-style: none; */
}
li {
  display: list-item;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  margin: 0 auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

/**
 * Global styles
 */
@import url(
  //fonts.googleapis.com/css?family=Noto+Sans&subset=latin,
  latin-ext
);
@import url(//fonts.googleapis.com/css?family=Roboto&subset=latin, latin-ext);

/*
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

.fa-file-import:before {
  content: "\f56f"; }
*/

html * {
  font-family: "Noto Sans", sans-serif;
}

body {
  background: url("../img/body-background.png") repeat;
  color: #1a1a1a;
  font-size: 1.3rem;
}

a {
  color: #808080;
  line-height: normal;
}

a:focus {
  outline: 1px dashed #555555;
}

a:hover {
  text-decoration: underline;
}

a.lone {
  display: inline-block;
  margin: 1.6rem;
}

h1 {
  font-size: 2.07rem;
  font-weight: normal;
  line-height: 29px;
  margin: 1rem 0 1.6rem;
}

h2 {
  font-size: 1.73rem;
  font-weight: normal;
  padding: 2rem 0 1rem;
}

h3 {
  color: #1a1a1a;
  font-size: 1.44rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h4 {
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  margin: 4px 0 12px;
  line-height: 1.5rem;
  font-size: 1.3rem;
}

p.subtitle {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dd {
  margin-left: 2em;
}

code,
.code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #eeeeee;
  margin: 0.5em;
}

.contentPage .content ul,
.contentPage .content ol {
  margin: 1em 0 1em 1em;
  line-height: 1.5em;
}

.contentPage .content ul {
  list-style: none;
}

.modalWindow ul > li,
.contentPage .content ul > li,
.modalWindow ol > li,
.contentPage .content ol > li {
  text-indent: 1rem;
  margin-left: 1.5rem;
}

.contentPage .content ul > li:before {
  content: "-";
  left: -1rem;
  position: relative;
}

.contentPage .content .feedbackPanel {
  margin: 0.5em 0;
}

.feedbackPanel li {
  text-indent: 0;
  margin: 0.5em 0;
}

.invisible {
  display: none !important;
}

/* Top title of pop-up menus */
#compactTitle {
  background-color: white;
  padding: 0.5rem 5%;
}

.spacer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

.halfCol {
  display: block;
}

/* Buttons */
.buttons a,
.buttons button {
  background-color: #ffffff;
  color: #063563;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.5em 2em;
}

.buttons a:focus {
  outline: 1px dashed #063563;
}

.late {
  color: red;
}

.updating {
  border: 2px solid blue !important;
}

/* File uploader */
.fileUploader {
  position: relative;
  padding-left: 4em;
}

.fileUploader label {
  position: absolute;
  left: 0;
  top: 0;
}

.fileUploader .ajax-indicator {
  position: absolute;
  left: 2.5em;
  top: 0.3em;
}

/* Pager */
.pager {
  text-align: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.pager a {
  color: #4d4d4d;
  margin: 0 0.5em;
  text-decoration: none;
}

.pager a:focus {
  color: #4d4d4d;
}

.pager .current {
  color: #000000;
  font-weight: bold;
}

.rightMenu {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 0.83em;
  vertical-align: middle;
  top: 0.83em;
}

header#compactTitle .rightMenu {
  right: 5%;
}

header#compactTitle .rightMenu > * {
  display: inline-block;
  position: relative;
}

header#compactTitle #linkStatus {
  margin: 0.9rem;
}

/* HTML editor */
.trumbowyg-box {
  margin: 0 auto;
  color: black;
}

.trumbowyg-editor {
  background-color: white;
}

.trumbowyg-editor a {
  color: blue;
  text-decoration: underline;
}

.trumbowyg-editor ul,
.trumbowyg-editor ol {
  margin-left: 2em;
}

.trumbowyg-box textarea {
  display: none;
}

/* Dashboard */
#dashboard .outOfTable {
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  margin-bottom: 1.4rem;
  display: block;
}

#dashboard .head {
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem;
}

#dashboard .head h1 {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0;
  line-height: initial;
}

#dashboard .head nav a {
  display: block;
  color: #808080;
  margin-top: 1em;
  text-decoration: none;
}

#dashboard .dashboard-content {
  margin: 0;
  width: 100%;
  position: relative;
  min-height: 20rem;
  background-color: #f2f2f2;
  padding-bottom: 1rem;
}

.dashboard-content .body {
  position: relative;
}

.dashboard-content .body .rightMenu {
  top: 1.8rem;
  right: 0;
}

.dashboard-content .body .rightMenu #linkStatus {
  display: none;
}

table.dashboard-table {
  width: 100%;
}

table.dashboard-table a {
  text-decoration: none;
}

#dashboard .placeHolder {
  margin: 2rem;
  text-align: center;
  color: black;
}

.dashboard-table img,
.cxtMenu img {
  display: inline;
}

td.action-col a {
  margin-right: 0.4em;
}

table.dashboard-table th,
table.dashboard-table td {
  border-width: 0 1px 1px;
  font-weight: normal;
  padding: 6px 12px;
  vertical-align: top;
}

table.dashboard-table tbody th,
table.dashboard-table tbody td {
  border-color: #333333;
  border-style: none solid solid;
  border-width: 0 1px 1px 0;
}

table.dashboard-table tbody tr.first td {
  padding-top: 1rem;
}

table.dashboard-table tbody tr:last-child td {
  border-bottom: 0;
}

table.dashboard-table *.first-column,
table.dashboard-table *.last-column,
table.dashboard-table .filterRow * {
  /* display: none; */
}

table.dashboard-table .beforeLast {
  border-right: 0;
}

table.dashboard-table .filterRow th {
  padding-top: 0;
  text-align: left;
  vertical-align: bottom;
}

table.dashboard-table .filterRow th > div {
  display: inline-block;
}

table.dashboard-table .filterRow input,
table.dashboard-table .filterRow select {
  height: 26px;
  vertical-align: bottom;
  padding-top: 0.2em;
}

.typeCrit {
  width: 33%;
}

.titleCrit {
  padding-left: 1rem;
  width: 66%;
}

.personCrit input {
  width: calc(100% - 0.5rem);
}

.dateCrit input {
  padding-left: 1rem;
  width: 50%;
}

/* Single panel */
.singlePanel {
  background-color: white;
  padding: 1.7rem;
}

.shadowed-textarea {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.shadowed-textarea textarea {
  background-color: inherit;
}

/**
 * Form elements
 */
textarea,
select,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="number"] {
  border: 1px solid #666666;
  padding: 2px 4px;
  margin-bottom: 0.3em;
  font-size: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  border: 1px solid #666666;
  font-size: 100%;
  box-sizing: border-box;
  position: relative;
  top: 0.2em;
}

.errMsg {
  color: red;
}

.errField {
  border: 1px solid red !important;
}

.number,
.number input,
table.dashboard-table thead th.number {
  text-align: right;
}

input[type="text"],
input[type="password"],
textarea,
.modalWindow select {
  width: 100%;
}

.selfWidth {
  width: initial !important;
}

#passwordChange input[type="text"],
#passwordChange input[type="password"] {
  width: calc(100% - 4em);
}

label.labeled {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.labeled {
  width: 63%;
}

.half {
  width: calc(50% - 0.5em);
}

.rt {
  text-align: right;
}

input.date {
  width: 6.3em;
  text-align: right;
}

div.auth {
  display: none !important;
}

html.auth .noAuth,
html.noAuth .auth {
  display: none !important;
}

html.auth .auth,
html.noAuth .noAuth {
  display: initial !important;
}

#auth-status {
  margin-left: 0.5em;
  max-width: 20em;
  text-overflow: ellipsis;
  text-align: left;
}

/**
 * Horizontal nav
 */
nav.horizon {
  position: relative;
}

nav.horizon div {
  display: inline-block;
  padding: 0.5rem 1rem;
}

nav.horizon > div {
  position: relative;
  cursor: pointer; /* Hover iPhone hack */
}

nav.horizon > div em {
  text-decoration: underline;
  font-weight: bold;
}

nav.horizon a {
  text-decoration: none;
}

nav.horizon a:hover {
  text-decoration: underline;
}

nav.horizon a i {
  display: inline-block;
  padding-right: 0.4rem;
  color: inherit;
}

nav.horizon > div > a > .lbl {
  display: none;
}

nav.horizon .noIcon {
  margin-left: 19px;
}

nav.horizon span:hover.lbl {
  text-decoration: underline;
}

nav.horizon .disabled span.lbl {
  font-style: italic;
}

nav.horizon .disabled span:hover.lbl {
  text-decoration: none;
}

nav.horizon .n1,
nav.horizon .n2 {
  display: none;
  padding: 0;
  z-index: 20;
}

nav.horizon .n1 {
  position: absolute;
}

nav.horizon .n1 > div {
  display: block;
}

nav.horizon > div:hover .n1 {
  display: block;
}

a.active-trail {
  pointer-events: none;
}

/**
 * Side menu
 */
nav.side {
  display: block;
  background-color: lightgrey;
}

nav.side a {
  display: block;
  padding: 0.5em 1em;
  margin: 0;
}

nav.side a.active-trail {
  font-weight: bold;
}

nav.side a:hover {
  background-color: lightgrey;
}

nav.side .niv1 {
  margin-left: 1.5em;
}

nav.side .niv2 {
  margin-left: 3em;
}

/**
 * Structure
 */
.region-wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

header {
  background-color: #ffffff;
}

#header-top {
  color: #3f51b5;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
  /* padding: 0.5rem 0.5rem 0 0.5rem; */
  /* font-size: 0.9rem; */
}

#header-bottom {
  background-color: #ffffff;
  margin: 0 2.3rem;
}

#header-bottom .region-wrapper {
  padding: 30px 0 1rem;
  position: relative;
  text-align: center;
}

#logo {
  padding-left: 0.7rem;
  text-decoration: none;
}

#logo img {
  width: 218px;
  height: 47px;
}

.main {
  position: relative;
}

.content {
  /* line-height: 2rem; */
  /* background-color: white; */
}

footer {
  background-color: #ffffff;
  padding-bottom: 0.05em;
}

/**
 * Top bar
 */
#header-top .region-wrapper {
  text-align: center;
}

#header-top nav i {
  margin-right: 0.2rem;
}

#header-top nav > div {
  display: inline-block;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

#header-top nav > div:last-child {
  margin-right: 0;
  padding-right: 0;
}

#header-top nav a {
  color: #3f51b5;
}

#header-top nav .n1 {
  top: 30px;
  right: 0;
  min-width: 15em;
  -webkit-box-shadow: 4px 2px 5px 1px rgba(61, 61, 61, 0.6);
  box-shadow: 2px 2px 5px 1px rgba(61, 61, 61, 0.6);
  background-color: white;
}

#header-top nav .n1 > * {
  padding: 0.7rem 0.8rem;
}

/**
 * Logo
 */
#slogan {
  position: relative;
  color: #404040;
  font-style: italic;
}

/**
 * Secondary menu
 */
#secondary-menu {
  text-transform: uppercase;
  font-size: 2rem;
}

#secondary-menu,
#secondary-menu .n1 {
  background-color: #242424;
}

#secondary-menu * {
  color: white;
}

#secondary-menu .noIcon {
  margin-left: 19px;
}

#secondary-menu span:hover.lbl {
  text-decoration: underline;
}

#secondary-menu .disabled *,
#secondary-menu .disabled span.lbl {
  color: grey;
}

.lazyCounter img {
  padding: 0;
}

.lazyCounter img {
  position: absolute;
  top: 5px;
}

.linkList > * {
  padding: 0.5em 1.5em;
  width: 100%;
  text-align: center;
  display: block;
}

/* Highlight */

#highlight {
  /* width: 100%; */
}

#highlight h1,
#highlight h2 {
  font-weight: bold;
}

/**
 * Column layout
 */
.column-left,
.column-right,
.blockForLarge,
.iblockForLarge,
.inlineForLarge {
  display: none;
}

.column-center,
.column-center-right,
.column-center-left {
  padding: 2rem;
}

/**
 * Footer menu
 */
footer nav {
  background-color: #242424;
  padding: 0.6rem 1rem;
  text-align: center;
}

footer nav ul {
  width: 100%;
}

footer nav a,
footer nav li {
  color: #cccccc;
  text-decoration: none;
}

footer nav a:focus {
  outline: 1px dashed #cccccc;
}

footer nav ul.menu li {
  display: block;
  padding: 0 0.5em;
  margin: 0.5em;
}

footer nav a.active {
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

.language-chooser {
  display: flex;
  margin-top: 2em;
}

.language-chooser a {
  margin-right: 1rem;
}

.language-chooser img {
  width: 40px;
}

/**
 * Copyright
 */
#copyright {
  font-size: 11px;
  margin: 8px 0 10px;
  text-align: center;
}

/**
 * Feed-back pannels
 */
#feedbackWindow .window {
  width: 35em;
}

ul.feedbackPanel,
.feedBack {
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
  margin: 0.5em 0em;
}

.messageDetails .feedBack,
.editing .feedBack > * {
  margin: 0;
  border: 0 !important;
  text-align: left;
}

ul.feedbackPanel li,
.feedBack > * {
  padding: 0.5em;
  margin-bottom: 0.3em;
}

ul.feedbackPanel li,
.feedBack i.fa {
  margin-top: 0.25em;
  float: right;
  /* font-size: 1.2em; */
}

.feedbackPanel li:before {
  content: none;
}

li.feedbackPanelFATAL,
dt.feedbackPanelFATAL,
.feedBack .fatal {
  border: 1px solid black;
  background-color: #fd1d1d;
}

li.feedbackPanelERROR,
dt.feedbackPanelERROR,
.feedBack .error {
  border: 1px solid #ca1515 !important;
  background-color: #ffaaaa;
}

li.feedbackPanelWARNING,
dt.feedbackPanelWARNING,
.feedBack .warn {
  border: 1px solid #d8b212;
  background-color: #fff58d;
}

li.feedbackPanelINFO,
dt.feedbackPanelINFO,
.feedBack .info {
  border: 1px solid #2646af;
  background-color: #8ea3e7;
}

.fatal,
.fatal .fa-times {
  color: black;
}

.error,
.error .fa-times {
  color: #ca1515;
}

.warn,
.warn .fa-times {
  color: #d8b212;
}

.info,
.info .fa-times {
  color: #2646af;
}

.feedBackTemplate {
  display: none;
}

/**
 * Modal windows
 */
.modalWindow {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalWindow > .window {
  position: relative;
  display: block;
  margin: 1% auto;
  width: 100%;
  padding-bottom: 1rem;
  background-color: #dddddd;
  text-align: left;
  box-shadow: 1px 1px 12px #555;
}

.modalWindow .window > * {
  margin-left: 2rem;
  margin-right: 1.5rem;
  line-height: 1.5rem;
}

.modalWindow .window .header {
  position: relative;
  margin: 0 0 1.5rem 0;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #333333;
}

.modalWindow .window .header i.fa-times {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.4rem;
}

.modalWindow .window .header h1 {
  margin: 0;
  font-size: 1.2rem;
}

.modalWindow .window h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.modalWindow .window .body {
  width: calc(100% - 3em);
}

.modalWindow .buttonStack a {
  display: block;
  text-align: center;
}

/**
 * Buttons
 */
.buttons {
  text-align: center;
  margin-top: 17px;
}

.buttons > * {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.actbt {
  background-color: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #333333;
  display: inline-block;
  cursor: pointer;
  color: black;
  padding: 0.5em 2em;
  text-decoration: none;
  box-shadow: 2px 2px 1px #999999;
  margin-bottom: 0.5em;
}

.actbt.ajax {
  padding-left: calc(2em + 14px);
}

.actbt:hover {
  background-color: #333333;
  color: white;
}

.actbt:active {
  position: relative;
  top: 1px;
}

.actbt.disabled {
  position: relative;
  top: 1px;
  cursor: default;
  color: grey;
}

.actbt.mainact {
  background-color: #666666;
  color: white;
}

.actbt.mainact:hover {
  background-color: black;
  color: white;
}

.actbt.importact {
  color: white;
  background-color: #bf1919;
}

.actbt.slim {
  padding: 2px 7px;
}

/**
 * Ajax indicator
 */
.ajax-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 0.3em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ajax-indicator.on {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #a4221c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#header-bottom .ajax-indicator {
  position: absolute;
  right: 0;
  top: 5.3rem;
  width: 30px;
  height: 30px;
}

.buttons .redact {
  background-color: #ab0909;
  color: white;
}

.redact .ajax-indicator.on {
  border: 3px solid #cf5858;
  border-top: 3px solid white;
  margin-bottom: 2px;
}

#catalog-search .ajax-indicator.on {
  vertical-align: bottom;
}

#compactTitle .ajax-indicator {
  width: 35px;
  height: 35px;
}

/**
 * Modal page
 */
.modalPage .desc .ajax-indicator {
  margin-top: 1.6rem;
  width: 30px;
  height: 30px;
}

/**
 * Edit person form
 */
#personWindow > .window {
  min-width: 30rem;
  width: 30%;
  max-width: 100rem;
}

#personWindow .search,
#personWindow .bt {
  display: none;
}

.auth #personWindow .search {
  margin-bottom: 1em;
  margin-right: 1em;
  border: 1px solid black;
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#personWindow .search input {
  border: 0;
  margin: 0;
}

.auth #personWindow .body {
  position: relative;
}

.auth #personWindow .body .topButtons {
  display: inline-block;
  /* text-align: right; */
}

.auth #personWindow .body .bt {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  top: 3px;
  font-size: 1.5em;
}

.auth #personWindow .ajax-indicator.on {
  position: absolute;
  top: 2px;
  right: 0;
  width: 21px;
  height: 21px;
}

.results {
  border: 1px solid black;
  padding: 0;
}

.results.sticker {
  position: absolute;
  top: 1.53em;
  left: 0;
  background-color: #b9bccd;
  z-index: 12;
}

.results > div {
  padding: 0.9em;
  width: 100%;
}

.results > div:hover {
  background-color: #cccfe0;
}

#personWindow .extAddr {
  background-color: #cfcff3;
}

#personWindow .results > div {
  border-bottom: 1px solid black;
  padding: 0.5em;
  position: relative;
}

#personWindow .results > div div:first-child {
  font-weight: bold;
}

#personWindow #postal_code-code {
  max-width: 7em;
  display: inline-block;
}

#personWindow #postal_code-city {
  max-width: calc(100% - 7.5em);
  margin-left: 0.5em;
  display: inline-block;
}

.identitiesList .org {
  vertical-align: top;
  position: relative;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: white;
  border: 1px solid grey;
  line-height: 1.5em;
}

.identitiesList .org h2 {
  margin-top: 0;
}

.identitiesList .org,
.identitiesList .address,
.identitiesList .person {
  background-color: white;
}

.identitiesList .addressList,
.identitiesList .personList {
  margin-top: 1em;
}

.identitiesList .address,
.identitiesList .person {
  position: relative;
  border: 1px solid grey;
  padding: 0.5em;
  margin-top: 0.5em;
}

.identitiesList .org h4 {
  margin-top: 1em;
  font-size: 1.2em;
}

.identitiesList .bts {
  position: absolute;
  top: 0.5em;
  right: 0;
  font-size: 1.3em;
}

.identitiesList .bts * {
  margin: 0.5em 0.4em 0 0;
}

.identitiesList .selected {
  background-color: #dcdcdc;
  color: black;
}

.identitiesList .currentId {
  border: 3px solid black !important;
  /* background-color: SlateGray!important; */
}

.identitiesList .admin .del {
  display: none;
}

.identitiesList .currentId .setIt {
  display: none;
}

.identitiesList i {
  display: inline;
  margin-right: 0.5em;
}

table.checkTable {
  margin: 3em 0em;
}

table.checkTable td {
  text-align: center;
  text-align: -webkit-center;
  padding: 0.9em;
}

table.checkTable .rowHeader {
  text-align: left;
  font-weight: normal;
}

body.options #highlight {
  background: url("../img/pictures/options.jpg") no-repeat 0 0;
  color: #ffffff;
  height: 159px;
  padding: 180px 388px 0 168px;
  width: 452px;
}

/**
 * Dashboard table
 */

#main-inner.dash {
  background-color: #1a1a1a;
  color: #808080;
}

table.dashboard-table {
  margin: 0 0 1rem;
}

table.dashboard-table thead {
  background-color: #808080;
  color: black;
}

table.dashboard-table tbody {
  padding: 0 0.7rem;
  background-color: #f2f2f2;
}
table.dashboard-table tbody tr {
  height: 2.5rem;
  /* position: relative; */
}

table.dashboard-table thead th {
  border-bottom: 0 none;
  padding: 0.7rem 1.2rem 0.4rem;
  text-align: left;
  vertical-align: middle;
}

table.dashboard-table thead th a {
  position: relative;
  top: -1px;
}

table.dashboard-table .adr-col,
table.dashboard-table .issue-col,
table.dashboard-table .status-col,
table.dashboard-table .action-col,
table.dashboard-table .first-col,
table.dashboard-table .last-col,
table.dashboard-table .filterRow {
  display: none;
}

table.dashboard-table .subject-col {
  /* border-right: 0; */
}

table.dashboard-table th {
  color: #131523;
}

table.dashboard-table td {
  color: #333333;
}

table.dashboard-table tr:hover td {
  background-color: #b9bccd;
}

table.dashboard-table tr:hover td.first-col,
table.dashboard-table tr:hover td.last-col {
  background-color: #f2f2f2;
  cursor: pointer;
}

table.responsive,
table.responsive tbody {
  position: relative;
  display: block;
  width: 100%;
}

table.responsive tbody a {
  color: #444444;
}

table.responsive tr {
  border-bottom: 1px solid black;
  display: block;
  padding: 1rem;
  position: relative;
  min-height: 5em;
  line-height: 1.4em;
}

table.responsive td {
  border: 0;
  display: inline-block;
  vertical-align: top;
}

table.responsive thead,
table.responsive td.first-col,
table.responsive td.first-col {
  display: none;
}

table.responsive td.subject-col,
table.responsive td.adr-col {
  width: calc(100% - 8.5em);
}

table.responsive td.adr-col .from {
  color: #188e32;
}

table.responsive td.adr-col .to {
  color: #ca2121;
}

table.responsive td.date-col {
  position: absolute;
  /* right: 1rem; */
  top: 0.8em;
  width: 8.2em;
  /* text-align: right; */
}

table.responsive td.status-col {
  position: relative;
  /* right: 1rem; */
  /* top: 0em; */
  max-width: 8em;
}

table.responsive td.action-col {
  position: absolute;
  right: 0.5rem;
  top: -0.1em;
  font-size: 1.3em;
}

table.responsive td.action-col a {
  font-weight: bold;
  text-decoration: none;
}

table.responsive td.action-col .menu,
table.responsive td.action-col .switch.off {
  display: none;
}

table.responsive td.action-col .menu.on {
  display: block;
  padding: 0.6em 0 0.5em 0.5em;
  background: white;
  border: 1px solid black;
  bottom: -0.4rem;
  position: relative;
}

table.responsive td.action-col .menu.on i {
  font-size: 1.4em;
  padding-right: 0.4em;
}

table.basic tbody th:first-child,
table.basic tbody td:first-child {
  border-left-width: 0;
}

table.basic tbody th:last-child,
table.basic tbody td:last-child {
  border-right-width: 0;
}

table.row-selectable tr:hover td {
  background-color: #b9bccd;
  cursor: pointer;
}

.amount {
  text-align: right;
}

/**
 * For editing table values.
 */
#lines-table .edited {
  background-color: white !important;
  color: black;
  border: 1px solid #666666;
  padding: 0 !important;
}

.edited input,
.edited textarea {
  border: 0;
  width: calc(100% - 2px);
  text-align: inherit;
  margin: 0;
  padding: 0.6rem 1rem;
  height: 100%;
  box-sizing: border-box;
}

.edited input {
  margin-top: 0;
  padding-top: 0.4rem;
}

.personDisplay.edited {
  padding: 0.3rem;
  border: 1px solid black;
  background-color: white;
}

#message-subject {
  margin-top: 4px;
}

.contentPage #highlight {
  background-color: #0a3794;
  color: #87a9f0;
}

/* Add style */

.ad {
  position: relative;
  background-color: bisque;
  padding: 0.5em 1rem;
  margin: 0.5em 0;
}

.ad h1 {
  padding: 0;
  font-size: 1.5rem;
  color: #ea9904;
  font-weight: bold;
}

.ad h1 a {
  color: inherit;
}

.ad * {
  margin: 0;
  font-size: 1em;
}

.ad i.fa {
  margin: 0;
  color: orange;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.9rem;
}

a.cmd {
  float: right;
  text-decoration: none;
}

a.cmd:hover {
  font-weight: bold;
}

.ad address {
  color: grey;
  font-style: normal;
}

.ad address a {
  color: #cc8504;
}

#signInWindow .body {
  text-align: center;
}

#signInWindow .buttons {
  margin-top: 0;
}

#signInWindow .oauth-signin,
.oauthDiv a {
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 14em;
  font-size: 14px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

#signInWindow .oauth-signin {
  width: 21rem;
  padding: 11px 0 10px;
  font-size: 14px;
}

.oauthDiv a.signout {
  width: initial;
}

.oauthDiv label {
  width: 6em;
  display: inline-block;
}

#signInWindow [data-system="google"],
.oauthDiv[data-system="google"] a {
  background-color: #4285f4;
  border: thin solid #4285f4;
  padding: 0;
  text-align: left;
}

#signInWindow [data-system="google"] span,
.oauthDiv[data-system="google"] a > span {
  padding: 8px 15px 7px 15px;
  display: inherit;
  vertical-align: middle;
  text-align: center;
}

#signInWindow [data-system="google"] span:hover,
.oauthDiv[data-system="google"] a span:hover {
  text-decoration: underline;
}

#signInWindow [data-system="google"] .img,
.oauthDiv[data-system="google"] .img {
  background-color: white;
  height: 100%;
  padding: 8px 8px 5px 8px;
}

#signInWindow [data-system="facebook"],
.oauthDiv[data-system="facebook"] a {
  background-color: #3b5998;
}

#signInWindow [data-system="linkedin"],
.oauthDiv[data-system="linkedin"] a {
  background-color: #0077b5;
}

#signInWindow .orSeparator {
  text-transform: uppercase;
}

#signInWindow .fa-eye {
  margin-left: 0.5rem;
  width: 1rem;
}

#signInWindow .licenceWarn,
#signInWindow .warn {
  color: red;
  /* display: none; */
}

#signInWindow input {
  padding: 5px;
}

#signInWindow input[name="passwordVis"] {
  display: none;
}

#signInWindow input[name="password"],
#signInWindow input[name="passwordVis"] {
  width: calc(100% - 1.5rem);
}

#signInWindow .alternativeLinks {
  margin-top: 1.5rem;
}

.auth-chooser {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Auth chooser */
.auth-chooser > div {
  width: 25em;
  margin-bottom: 3em;
}

.editPanel td {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

td.field input.file {
  width: 70%;
}

/* Payment window */
#paymentWindow .window {
  max-width: 35em;
}

#paymentWindow label {
  width: 6.5em;
  display: inline-block;
  padding: 2px 0;
  margin-bottom: 3.6px;
  vertical-align: top;
}

#paymentWindow input[type="text"],
#paymentWindow select {
  max-width: calc(100% - 6.5em);
}

/**
 * Icons
 */

.action-col {
  padding-top: 8px;
  padding-bottom: 2px;
}

.action-col i,
.ad i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.fa-file-pdf-o,
.fa-backward,
.fa-times,
.fa-trash-alt {
  color: red;
}
.fa-play,
.fa-money {
  color: green;
}
.fa-file-text-o,
.fa-floppy-o {
  color: white;
}

table.simple {
  margin: 1.33rem 0;
}

table.simple td,
table.simple th {
  padding: 0.5rem 1rem 0.5rem 0;
}

table.simple th {
  font-weight: bold;
}

.settings-nav li {
  margin-bottom: 0.7em;
}

td.field input.file {
  width: 70%;
}

.templateEd {
  display: inline;
}

/**
 * Home page
 * Body class: home
 */

/* Highlight */

#highlight.login {
  background-color: #a4221c;
  color: #f08b86;
}

.home #highlight .call2action {
  background-color: #1a1a1a;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.home #highlight .call2action p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 1.5em;
  color: white;
  text-align: left;
}

.home #highlight .call2action p em {
  font-weight: bold;
}

.home #highlight .call2action .bt {
  background: #bf1919;
  /* margin: 0; */
  border-radius: 6px;
  box-shadow: 1px 6px 4px 2px rgba(0, 0, 0, 1);
  color: #ffffff;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 18px;
  padding: 0.5rem 2.9rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Main content */
#main-inner {
  background-color: white;
}

.home .content {
  padding: 0 2em 2rem 2rem;
}

.home .content .column-right,
.offer .puce {
  display: none;
}

.home .content .column-left {
  display: block;
}

.offer {
  margin-top: 2.25rem;
}

.offer p.introduction {
  font-size: 1.9rem;
  /* margin: 0; */
}

.offer h3 {
  color: #1a1a1a;
  position: relative;
  /* font-size: 1.3rem; */
  /* top: -0.5rem; */
  font-weight: bold;
  line-height: 0.9em;
}

.offer ul {
  /* margin-left: 1em; */
  list-style: none;
}

.offer li {
  margin-top: 1em;
}

.standard-offer p.introduction span {
  color: #48a103;
}

.standard-offer a {
  color: #105e21;
}

.standard-offer a:focus {
  outline: 1px dashed #105e21;
}

.skyline-offer p.introduction span {
  color: #0a3794;
}

.skyline-offer a {
  color: #0a2a63;
}

.skyline-offer a:focus {
  outline: 1px dashed #0a2a63;
}

.classic-offer p.introduction span {
  color: #940a15;
}

.classic-offer a {
  color: #630a0a;
}

.classic-offer a:focus {
  outline: 1px dashed #0a2a63;
}

/* Partners */
.home .content #partners {
  display: none;
}

/* Accounting */
.accounting.dashboard-table td {
  border: 0;
}

.accounting.dashboard-table .date,
.accounting.dashboard-table .status,
.accounting.dashboard-table .label {
  border-top: 1px solid #000000;
}

.accounting.dashboard-table tr:first-child .date,
.accounting.dashboard-table tr:first-child .status,
.accounting.dashboard-table tr:first-child .label {
  border-top: 0;
}

.accounting.dashboard-table .label {
  font-weight: bolder;
  white-space: pre-line;
}

.accounting.dashboard-table .label .proof {
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

.accounting.dashboard-table .account {
  cursor: pointer;
}

.writingDisplay .status,
.writingDisplay .proof {
  max-width: 10rem;
}

.writingDisplay .moves div {
  display: grid;
  grid-template-columns: 1fr 9rem 9rem 5rem;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
}

.writingDisplay .moves input {
  width: 100%;
}

.writingDisplay .moves div div {
  display: inline-block;
}

.writingDisplay .balDiff {
  font-style: italic;
}

.autocomplete {
  position: relative;
}

.autocomplete .results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  overflow: auto;
  list-style-type: none;
}

.autocomplete .result {
  list-style: none;
  text-align: left;
  padding: 0.3em 0.7em;
  cursor: pointer;
}

.autocomplete .result.is-active,
.autocomplete .result:hover {
  background-color: #b9bccd;
  color: white;
}

.autocomplete .dirty {
  background-color: orange;
}

/* Tablet Small 740px */
@media screen and (min-width: 46.25em) {
  body {
    font-size: 1.3rem;
  }

  #header-bottom .region-wrapper {
    text-align: left;
    padding-bottom: 2.1rem;
  }

  footer ul {
    display: table;
  }

  footer nav ul.menu li {
    display: table-cell;
  }

  .messageDetails #secondary-menu {
    display: inherit;
    width: 66.9%;
    height: 100%;
    padding-top: 1.5rem;
    z-index: 10;
    right: -2px;
    position: absolute;
    text-align: right;
  }

  .messageDetails #secondary-menu > div {
    padding: 0.2rem 1.5rem 0.5em 0.2%;
  }

  .modalWindow {
    position: fixed;
    overflow: scroll;
  }

  .modalWindow > .window {
    display: inline-block;
    max-width: 30em;
  }

  #signInWindow .window {
    width: 35rem;
  }

  .home .content .column-left {
    display: inline-block;
    width: 66%;
    padding-top: 0.8rem;
  }

  .offer {
    position: relative;
    padding: 0 0 0.9rem 7.1rem;
  }

  .offer .puce {
    display: block;
    position: absolute;
    top: 0.8rem;
    left: 1.7rem;
  }

  .offer ul {
    margin: 0.7rem 0 0 0;
    /* font-size: 0.8rem; */
  }

  .offer li {
    margin-top: 0;
    line-height: 1.9rem;
  }

  .classic-offer .puce {
    background-image: url("../img/standard-offer-background.png");
  }

  .standard-offer .puce {
    background-image: url("../img/standard-offer-background.png");
    width: 54px;
    height: 64px;
  }

  .skyline-offer .puce {
    background-image: url("../img/skyline-offer-background.png");
  }

  .home .content .column-right {
    display: inline-block;
    padding: 3rem 0 2rem 0;
    width: 33%;
    vertical-align: top;
  }

  /* Partners */
  .home .content #partners {
    display: inline-block;
    margin-top: 2.5rem;
  }

  .home .content #partners h3 {
    color: #7f7f7f;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 6px;
  }

  .home .content #partners ul {
    float: right;
  }

  .home .content #partners li {
    display: -moz-inline-stack;
    display: inline-block;
    margin-left: 14px;
  }

  .home .content #partners li.first {
    margin-left: 0;
  }

  /* Dashboard tables */
  table.dashboard-table .adr-col,
  table.dashboard-table .issue-col,
  table.dashboard-table .status-col,
  table.dashboard-table .action-col {
    display: table-cell;
  }

  #editWritingWindow.modalWindow .window {
    max-width: 55em;
  }

  #importWritingWindow.modalWindow .window {
    max-width: 80em;
  }

  td.date {
    min-width: 7.1em;
  }

  #tableContainer {
    width: calc(100% - 80px);
    margin: 10px auto;
  }

  .google-visualization-table-table {
    border-collapse: collapse;
  }

  .google-visualization-table-table .header th,
  .google-visualization-table-table .data td {
    padding: 6px 12px;
    border: 1px solid #333333;
    border-width: 1px 1px 0 0;
    color: #555555;
  }

  .google-visualization-table-table .header th:last-child,
  .google-visualization-table-table .data td:last-child {
    border-right: 0;
  }

  .google-visualization-table-table .header th {
    background-color: #808080;
    font-weight: normal;
    color: #131523;
    border-width: 0 1px 0 0;
  }

  .google-visualization-table-table .header th.number {
    min-width: 7em;
  }

  .google-visualization-table-type-number {
    text-align: right;
  }

  .auth-chooser {
    width: 100%;
  }

  .auth-chooser > * {
    vertical-align: middle;
    margin: 1.5em 3em 3em;
  }

  .auth-chooser .spacer {
    width: 7em;
  }
}

/* Settings */

.settings .dashboard-content .body {
  margin: 1rem;
}

.settings-home #highlight {
  background-color: #145d5b;
  color: #ffffff;
}

.settings-nav a {
  color: white;
}

.settings-nav em {
  color: white;
  /* font-weight: bold; */
  text-decoration: underline;
}

.numbertable {
  width: 100%;
}

.numbertable input {
  width: 10rem;
  margin: 0.5rem 1rem;
}

/**
 * Main menu styles
 */
#main-menu {
  text-transform: uppercase;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  text-align: right;
}

#main-menu .opener {
  font-size: 1.9rem;
}

#main-menu .options {
  display: none;
  -webkit-box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
  background-color: white;
}

#main-menu .options > * {
  display: block;
  color: #808080;
  text-decoration: none;
  padding: 0.7rem 1.5rem 1.05rem;
}

#main-menu .options > *.active-trail,
#main-menu .options > *:hover {
  background-color: #1a1a1a;
}

#main-menu .options *:focus {
  outline: 1px dashed #333333;
}

.event #main-inner {
  text-align: center;
  padding: 5rem 1rem;
}

.event img {
  max-width: calc(100% - 2rem);
}

[v-cloak],
.invisible {
  display: none !important;
}

/* Stripe elements */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
