<div class="header">
	<h1>Paramètres du graphique</h1>
</div>

<div class="body">

	<div class="feedBack"></div>
	
	<form id="chartFrom">
	
		<label>Type:</label> <select id="message_type" class="selfWidth">
			<option value="INVOICE">Factures</option>
			<option value="QUOTE">Devis</option>
            <option value="PURCHASE_ORDER">Commande</option>
		</select><br/>
	
		<label>Période:</label> du <input id="chartFr" name="chartFr" class="date"/>
		 au <input id="chartTo" name="to" class="date"/><br/>
		
		<label>Regroupement : </label><br/>
		
		<p>Les lignes seront regroupées et les totaux seront faits selon les critères suivants. Sans critères,
		le détail des lignes est fourni sans graphique.</p>
		
		<div style="display: inline-block; width: 15em">
			<input type="radio" name="tempGroup" value="year"/> par année<br/>
			<input type="radio" name="tempGroup" value="quarter"/> par trimestre<br/>
			<input type="radio" name="tempGroup" value="month" checked="checked"/> par mois<br/>
			<input type="radio" name="tempGroup" value="week"/> par semaine<br/>
			<input type="radio" name="tempGroup" value="message_number"/> par document<br/>
			<input type="radio" name="tempGroup" value="none"/> sur toute la période<br/>
		</div>
		<div style="display: inline-block; width: 10em; vertical-align: top">
			<input type="checkbox" name="group" value="sender"/> par émetteur<br/>
			<input type="checkbox" name="group" value="recipient"/> par client<br/>
			<input type="checkbox" name="group" value="reference"/> par référence<br/>
			<input type="checkbox" name="group" value="description"/> par description<br/>
            <input type="checkbox" name="group" value="tax_rate"/> par taux de taxe
		</div>
			
		<div class="buttons" style="margin-top: 17px">
			<button class="actbt mainact ajax" id="send">Envoyer<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
