<div class="header"><h1>Edition écriture</h1></div>

<div id="editWriting" class="body writingDisplay">

	<div class="feedBack"></div>
	
	<form>
		<div class="formHead">
			<label>Date: </label><input class="datePicker date" v-bind:class="emptyErr(writing.date)" :disabled="readonly"/>
			<label>Status: </label><select :disabled="readonly" name="status" class="status" v-model="writing.status" v-bind:class="emptyErr(writing.status)">
	           	<option value="VALID">Validé</option>
	           	<option value="PENDING" selected="selected">Non-terminé</option>
	           	<option value="UNVALID">Erreur</option>
	           	<option value="CHALLENGED">Litige</option></select>
	        <label>Libellé: </label><input :disabled="readonly" class="label" name="label" v-model="writing.label" v-bind:class="emptyErr(writing.label)"/>
			<label>Pièce: </label><input :disabled="readonly" class="proof" name="proof" v-model="writing.proof"/>
			<label>Journal: </label><input :disabled="readonly" class="proof" name="proof" v-model="writing.accounting_journal"/>
		</div>
        
        <div class="moves">
        	<div class="moveHead">
        		<div>Compte</div>
	        	<div>Débit</div>
	        	<div>Credit</div>
	        	<div>Unité</div>
        	</div>
        	<div class="line" v-for="move in writing.moves">
        		<div class="accountPicker"><account-picker :disabled="readonly" v-on:change="changeVal('account',move,$event)" v-bind:label="move.account.label" v-bind:value="move.account.path"/></div>
        		<div class="debit number"><input :disabled="readonly" v-bind:value="getMAmount(move,'DEBIT') | amountFormat" v-on:change="setMAmount(move,'DEBIT',$event.target.value)"/></div>
        		<div class="credit number"><input :disabled="readonly" v-bind:value="getMAmount(move,'CREDIT') | amountFormat" v-on:change="setMAmount(move,'CREDIT',$event.target.value)"/></div>
        		<div class="assetPicker"><asset-picker :disabled="readonly" v-on:change="changeVal('asset',move,$event)" v-bind:label="move.asset.label" v-bind:value="move.asset.path"/></div>
	        </div>
	        <div class="total" v-for="(bal,key) in balances">
        		<div></div>
        		<div class="debit number">
        			<div>{{bal.debit | amountFormat}}</div><br/>
        			<div class="balDiff" v-if="bal.debitBal > 0">+ {{bal.debitBal | amountFormat}}</div>
        		</div>
        		<div class="credit number">
        			<div>{{bal.credit | amountFormat}}</div><br/>
        			<div class="balDiff" v-if="bal.creditBal > 0">+ {{bal.creditBal | amountFormat}}</div>
        		</div>
        		<div class="asset"> <span name="assetS">{{bal.key}}</span></div>
	        </div>
        </div>
		<div class="buttons" style="margin-top: 17px">
			<button v-if="!readonly" class="actbt mainact ajax" v-on:click.prevent="submitWri">Valider<div class="ajax-indicator">&nbsp;</div></button>
            <button class="actbt ajax" v-on:click.prevent="cloneWri" v-if="writing.id != null">Cloner<div class="ajax-indicator">&nbsp;</div></button>
            <button v-if="!readonly" class="actbt ajax" v-on:click.prevent="deleteWri" v-if="writing.status != 'VALID'">Supprimer<div class="ajax-indicator">&nbsp;</div></button>
		</div>
	</form>
</div>
