<script type="text/x-template" id="loginComp" v-cloak>
  <vue-popup
    id="signInWindow"
    :showw="showw"
    :windowtitle="action=='log' ? Connexion : (action=='reg' ? 'Enregistrement' : 'Rappel mot de passe')"
    ref="signInPopup"
    @close="$emit('close')"
    :winstyle="{'top' : '10rem', 'width': '35rem'}"
    :loading="loading"
    :messages="messages">
  
  <p v-if="action=='log'">Veuillez vous identifier pour acceder à<br>votre espace de travail.</p>
  <p v-if="action=='reg'">Nous allons vous créer un profil personnel pour enregistrer votre travail.</p>
  <p v-if="action=='pw'">Nous allons vous envoyer un lien pour re-initialiser votre mot de passe.</p>

  <form action="#">
    <div v-if="action=='reg'" class="licence">
      <input class="agreeLicence" type="checkbox" :checked="agreeLicence ? 'CHECKED' : ''" name="agreeLicence">&nbsp;J'ai lu et j'accepte les <a href="licence.html" target="_blank">Conditions Générales</a><br>
      <span v-if="licenceWarn"class="warn">Vous devez accepter cela pour continuer.</span>
    </div>
    
    <div v-if="action=='reg' || action=='log'">
      <a class="oauth-signin actbt connectGoogle" @click.prevent="oauth('google')" href="#"><span class="img"><img src="../img/gg/logo-google.png"></span><span>Utiliser Google</span></a>
      <a class="oauth-signin actbt connectFacebook" @click.prevent="oauth('facebook')"href="#">Utiliser Facebook</a>
      <a class="oauth-signin actbt connectLinkedin" @click.prevent="oauth('linkedin')" href="#">Utiliser LinkedIn</a>
      <p class="orSeparator">Ou</p>
    </div>
    
    <input type="text" name="email" placeholder="Email"><br>
    <p v-if="alreadyExists" class="warn">Ce compte existe déjà mais avec un mot de passe différent. Veuillez utiliser la fonction de <a href="#" class="passwordRecLnk">rappel du mot de passe</a> ou créer un compte avec une autre addresse email.</p>
    <p v-if="notExists" class="warn">Ce compte n'existe pas, voulez-vous <a class="registerLnk" href="#">vous enregister ?</a></p>
    <div v-if="action=='reg' || action=='log'">
      <input type="password" name="password" placeholder="Mot de passe"><input type="text" name="passwordVis" placeholder="Mot de passe" style="display:none"><i class="fa fa-eye"></i><br>
    </div>
    
    <div class="buttons">
      <indicated-button :id="action + 'Bt'"  :mainact="true" @click.prevent="trigger_action">
        <span v-if="action=='log'">Se connecter</span>
        <span v-if="action=='reg'">Inscription</span>
        <span v-if="action=='pw'">Envoyer</span>
      </indicated-button>
    </div>
    <div class="alternativeLinks">
      <div v-if="action=='reg' || action=='log'"><a href="#" id="remindPwLnk" class="passwordRecLnk" @click.prevent="action=='pw'">J'ai oublié mon mot de passe</a></div>
      <div v-if="action=='pw' || action=='log'"><a href="/v/register/" id="popRegisterLnk" @click.prevent="action=='reg'">Inscription</a></div>
      <div v-if="action=='reg' || action=='pw'"><a href="#" id="popLoginLnk" class="loginLnk" @click.prevent="action=='log'">J'ai déjà un compte</a></div>
      <div v-if="noThanks"><a href="#" id="noThanksLnk" class="loginLnk" style="display: none;" @click.prevent="noThanksAction">Non merci</a></div>
    </div>
  </form>
  </vue-popup>
</script>