<div class="header"><h1>Choisissez votre moyen de paiement</h1></div>

<div class="body" id="paymentType" style="text-align:center">
	<div id="paymentBts" style="position: relative; margin: auto">
		<a id="stripeBt" class="paymentBt half" href="#" data-payment-type="stripe" style="display: inline-block; text-align: center">
			<img src="../img/pictures/stripe-payments.png" alt="Carte-bancaire par Stripe" style="width: 100%"/><br/>
            Cartes par Stripe<br/>
			<span class="included" style="display:none">Sans frais</span><span class="charged">+ 2,5%</span>
            <div class="ajax-indicator">&nbsp;</div>
		</a>
	</div>
    <form method="post" id="stripe-form" style="display: none; background-color: white; border-style: groove; padding: 0.5em">
        <img src="../img/pictures/stripe-payments.png" alt="Carte-bancaire par Stripe" style="width: 100%"/>
        <div class="form-row">
            <div id="stripe-payment-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="payment-errors" role="alert"></div>
        </div>
        <button style="margin-top: 0.5em">Envoyer</button>
    </form>
</div>