<script type="text/x-template" id="sendingComp" v-cloak>
  <popup
    id="sendingWindow"
    :showw="showw"
    windowtitle="Envoyer"
    ref="sendPopup"
    @close="$emit('close')"
  >
    <p>
      La rédaction de votre document étant terminée, veillez choisir un mode
      d'envoi.
    </p>

    <div id="sendTypes" class="buttons">
      <div @click="sendType='email'; successMessage='Le message a été envoyé'; resetMessages()" :class="{actbt:true, mainact : sendType == 'email'}">
        Par email BonneFacture
      </div>
      <div @click="sendType='sharelink'; successMessage=null; resetMessages()" :class="{actbt:true, mainact : sendType == 'sharelink'}">Lien de partage</div>
      <div @click="sendType='other'; successMessage='L\'envoi du message à été enregistré'; resetMessages()" :class="{actbt:true, mainact : sendType == 'other'}">Par mes propres moyens</div>
    </div>

    <form id="sendingFrom" style="margin-top: 1em">
      <div v-if="sendType == 'email'">
        <label>Expéditeur: </label>
        <span class="senderOption">
          <input
            type="radio"
            name="exp"
            value="you"
            checked="checked"
            v-model="sendBy"/>
          <span id="expLabel">{{personLabel(sender)}}</span>
        </span>
        <input type="radio" name="exp" value="us" style="margin-left: 1em" v-model="sendBy"/> BonneFacture<br />
      </div>
      <div v-if="sendType == 'sharelink'" style="margin-bottom: 1em">
        <input type="checkbox" id="publicShare" v-model="publicShare"/> Lien public (pas d'accusé de réception)<br/>
      </div>
      <div v-if="sendType != 'sharelink' || (!shareUrl && !publicShare)" class="recipientPerson">
        <label>Destinataire: </label>
        <person-picker
          for="recipient"
          :value="editedRecipient"
          window_title="Destinataire"
          @change="editedRecipient = $event.person; resetMessages()"
          class="recipientPerson"
          :winstyle="{'padding-top': '2px', 'z-index': 30}"
          :connected="connected">
          <person-email-display :value="editedRecipient"></person-email-display>
        </person-picker>
      </div>
      <div v-cloak v-show="sendType == 'sharelink' && shareUrl">
        <span>Lien</span>
        <input type="text" style="margin: 1em 0 1.2em 1em; display: inline-block; width: calc(100% - 3.3em)" id="shareUrl" readonly v-model="shareUrl" v-if="shareUrl"/>
        <a v-if="shareEnabled" class="shareLnk actbt" href="#" @click="share"><i class="fa fa-share-alt"></i></a>
        <a class="emailLnk actbt" :href="emailUrl"><i class="fa fa-at"></i></a>
        <a class="copyLnk actbt" href="#" data-clipboard-target="#shareUrl"><i class="fa fa-copy"></i></a>
        <p class="copied" style="display:none">
          Ce lien a été copié dans votre presse-papier.
        </p>
      </div>
      <div v-cloak v-if="sendType == 'other'">
        <label style="width:100%">Commentaire pour mémoire: </label><br />
        <textarea id="sendingComment" v-model="sendingComment"></textarea>
      </div>
      <div v-cloak v-show="sendType == 'email'">
        <a
          href="#"
          style="float: right"
          @click.prevent="planningOpen = !planningOpen"
          >Planifier...</a
        >
        <div v-if="planningOpen">
          Premier envoi le
          <date-picker v-model="sendingStartDate"/> Fréquence
          <select v-model="sendingFrequency" style="width: 8em;">
            <option value="once">Une fois</option>
            <option value="1w">1 semaine</option>
            <option value="2w">2 semaines</option>
            <option value="1m">1 mois</option>
            <option value="2m">2 mois</option>
            <option value="3m">3 mois</option>
            <option value="6m">6 mois</option>
            <option value="1y">1 an</option>
          </select>
          <span v-if="sendingFrequency != 'once'">
          dernier envoi
          <date-picker
            v-model="sendingEndDate"
            style="margin-right: 1em"
            v-if="!neverEnds"
          /><input
            type="checkbox"
            v-model="neverEnds"
          />
          Jamais
          </span>
        </div>
        <label>Sujet: </label
        ><input type="text" name="sendingSubject" id="sendingSubject" v-model="sendingSubject"/>
        <div><textarea id="emailBody"></textarea></div>
        <div class="bottomOptions" v-if="sendType == 'email'">
          <input type="checkbox" v-model="keepAsTemplate"/>&nbsp;Garder ce message
          comme modèle pour les envois suivants.<br />
          <a id="resetTemplateBt" href="#" @click.prevent="resetTemplate">Rétablir le modèle par défaut.</a>
        </div>
      </div>
      <div class="buttons" style="margin-top: 17px">
        <button-indicated v-if="sendType == 'sharelink' && !shareUrl" class="sharelinkSent" :main="true" @click="createShare($event,true,'Lien généré')">Générer le lien de partage</button-indicated>
        <button-indicated v-if="sendType == 'sharelink' && shareUrl" @click="$emit('close')">Terminer</button-indicated>
        <button-indicated v-if="sendType == 'email' || sendType == 'other' " :main="true" @click="send($event,true,false,successMessage)">Envoyer</button-indicated>
        <button-indicated v-if="sendType == 'email'" @click="send($event,true,true,'Message envoyé')">Voir un aperçu</button-indicated>
      </div>
    </form>
  </popup>
</script>
