<div class="header"><h1><span class="reg">Inscription</span><span class="log">Connexion</span><span class="pw">Rappel du mot de passe</span></h1></div>

<div class="body">
<p class="log">Veuillez vous identifier pour acceder à<br/>votre espace de travail.</p>
<p class="reg">Nous allons vous créer un profil personnel pour enregistrer votre travail.</p>
<p class="pw">Nous allons vous envoyer un lien pour re-initialiser votre mot de passe.</p>
<div class="feedBackTemplate">
	<p class="alreadyExists warn">Ce compte existe déjà mais avec un mot de passe différent. Veuillez utiliser la fonction de <a href="#" class="passwordRecLnk">rappel du mot de passe</a> ou créer un compte avec une autre addresse email.</p>
	<p class="notExists warn">Ce compte n'existe pas, voulez-vous <a class="registerLnk" href="#">vous enregister ?</a></p>
</div>
<div class="feedBack">
</div>
<form action="#">

	<div class="reg licence">
		<input class="reg agreeLicence" type="checkbox" checked="checked" name="agreeLicence"/>&nbsp;J'ai lu et j'accepte les <a href="licence.html" target="_blank">Conditions Générales</a><br/><span class="licenceWarn">Vous devez accepter cela pour continuer.</span><br/>
	</div>
	
	<div class="reg log">
		<a class="oauth-signin actbt connectGoogle" data-system="google" href="#"><span class="img"><img src="../img/gg/logo-google.png"/></span><span>Utiliser Google</span></a>
		<a class="oauth-signin actbt connectFacebook" data-system="facebook" href="#">Utiliser Facebook</a>
		<a class="oauth-signin actbt connectLinkedin" data-system="linkedin" href="#">Utiliser LinkedIn</a>
		<p class="orSeparator">Ou</p>
	</div>
	
	<input class="reg log pw" type="text" name="email" placeholder="Email"/><br/>
	<div class="reg log">
		<input type="password" name="password" placeholder="Mot de passe"/><input type="text" name="passwordVis" placeholder="Mot de passe" style="display:none"/><i class="fa fa-eye"></i><br/>
	</div>
	
	<div class="buttons">
		<button id="signInBt" class="actbt mainact ajax log">Se connecter<div class="ajax-indicator">&nbsp;</div></button>
		<button id="regBt" class="actbt mainact ajax reg">Inscription<div class="ajax-indicator">&nbsp;</div></button>
		<button id="sendBt" class="actbt mainact ajax pw">Envoyer<div class="ajax-indicator">&nbsp;</div></button>
	</div>
	<div class="alternativeLinks">
		<div class="ref log"><a href="#" id="remindPwLnk" class="passwordRecLnk" >J'ai oublié mon mot de passe</a></div>
		<div class="log pw"><a href="/v/register/" id="popRegisterLnk">Inscription</a></div>
		<div class="reg pw"><a href="#" id="popLoginLnk" class="loginLnk">J'ai déjà un compte</a></div>
		<div class="nothks"><a href="#" id="noThanksLnk" class="loginLnk">Non merci</a></div>
	</div>
</form>

</div>