<div class="header"><h1>Mentions types</h1></div>
<div class="body">
<p>Cliquez sur les liens ci-dessous pour ajouter des mentions types à votre document.</p>

<h2>Generalités</h2>

<ul>
<li><a href="#" class="toPaste">En votre aimable réception.</a></li>
<li><a href="#" class="toPaste">Paiement à réception de la facture.</a></li>
<li>Pénalités de retard, escompte.</li>
</ul>

<h2>Lois françaises</h2>

<ul>
<li>Si vous êtes membre d'une AGA ou d'un CGA: <a href="#" class="toPaste">Membre d'une AGA ou d'un CGA, le règlement par chèque est accepté.</a></li>
<li>Si vous avez le statut de micro-entreprise: <a href="#" class="toPaste">T.V.A. non applicable ou exonérée, article 293 B du CGI.</a></li>
<li>Livraison extra-communautaire: <a href="#" class="toPaste">T.V.A. non applicable ou exonérée, article 262 ter I du CGI.</a></li>
<li>Prestations localisables extra-territoriales: <a href="#" class="toPaste">T.V.A. non applicable ou exonérée, article 259 A du CGI.</a></li>
<li>Prestations immatérielles extra-territoriales: <a href="#" class="toPaste">T.V.A. non applicable ou exonérée, article 259 B du CGI.</a></li>
<li><a href="#" class="toPaste">Franchise TVA spécifique oeuvres sans but lucratif, article 261-7-1° -b du CGI.</a></li>
<li><a href="#" class="toPaste">Manifestation de soutien exonérée: article 261-1°-c° du CGI.</a></li>
</ul>
</div>