<div class="header"><h1>Demander de l'aide</h1></div>

<div class="body">

	<div class="feedBack"></div>
	
	<form method="post" action="#">
		<p>Nous sommes à votre écoute pour tous problème. <a href="help.html">Une F.A.Q</a> vous permet cependant de répondre aux questions les plus courantes.</p>
		<input type="text" name="email" placeholder="Votre email"/><br/>
		<input type="text" name="phone" placeholder="Votre numéro de téléphone"/><br/>
		<textarea rows="6" name="content" placeholder="Veuillez décrire les circontances de votre problème et le navigateur que vous avez utilisé."></textarea>
		<div class="buttons">
			<button class="actbt mainact ajax">Envoyer<div class="ajax-indicator">&nbsp;</div></button>
		</div>	
	</form>
</div>