
		 <div id="advertising"></div>
         <div id="mainFeedBack" class="feedBack"></div> 
         <div class="rightMenu"> 
		    <div id="linkStatus">
		       Changes saved
		    </div> 
		    <div id="mainAjIndicator" class="ajax-indicator">
		      &nbsp; 
		    </div> 
		 </div>
