		
		<footer class="region-wrapper">
			<nav>
				<ul class="menu">
					<li class="first"><a id="tarif" href="/v/invoicing/subscription/">Оценка</a></li>
					<li><a href="contact.html">Контактная организация</a></li>
					<li><a href="licence.html">Лицензия</a></li>
					<li class="last"><a href="legal.html">Официальное уведомление</a></li>
				</ul>
			</nav>
		
			<div id="copyright">Авторское право 2006-2021 Bonne Facture - все права
				зарезервировано</div>
		</footer>
		