		
		<footer class="region-wrapper">
			<nav>
				<ul class="menu">
					<li class="first"><a id="tarif" href="/v/invoicing/subscription/">Pricing</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="licence.html">Licence</a></li>
					<li class="last"><a href="legal.html">Legal Notice</a></li>
				</ul>
			</nav>
		
			<div id="copyright">Copyright 2006-2021 Bonne Facture - All rights
				reserved</div>
		</footer>
		