		
		<footer class="region-wrapper">
			<nav>
				<ul class="menu">
					<li class="first"><a id="tarif" href="/v/invoicing/subscription/">Tarifs
							&amp; abonnements</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="licence.html">Conditions générales
							d'utilisation (CGU)</a></li>
					<li><a href="api.html">API</a></li>
					<li class="last"><a href="legal.html">Mentions légales</a></li>
				</ul>
			</nav>
		
			<div id="copyright">Copyright 2006-2021 Bonne Facture - Tous droits
				reservés</div>
		</footer>
		