		
		<header>
			<div id="header-top">
				<div class="region-wrapper">
					<nav id="top-bar" class="horizon">
                        <div class="share">
                            <a id="fbBt" class="shaIt invisible" rel="external" target="_blank" href="http://www.facebook.com/bonnefacture"><i class="fa fa-facebook-official"></i></a>
                            <a id="liBt" class="shaIt invisible" rel="external" target="_blank" href="https://www.linkedin.com/showcase/13337475/"><i class="fa fa-linkedin-square"></i></a>
                            <a id="twBt" class="shaIt invisible" rel="external" target="_blank" href="http://twitter.com/BonneFacture"><i class="fa fa-twitter-square"></i></a>
                            <a id="shareLnk" href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
						<div class="noAuth">
							<span><i class="fa fa-sign-in"></i> Login</span>
							<div id="loginTopMenu" class="n1">
								<div>
									<a id="topLoginLnk" class="loginLnk" href="/v/invoicing/"><i class="fa fa-sign-in"></i> Login</a>
								</div>
								<div>
									<a id="topRegisterLnk" href="/v/register/"><i class="fa fa-key"></i> Register</a>
								</div>
							</div>
						</div>
						<div class="auth">
							<span><i class="fa fa-user"></i><span id="auth-status" class="inlineForLarge"> My account</span></span>
							<div id="profileTopMenu" class="n1">
								<div>
									<a id="logoutLnk" class="local-action auth logoutLnk" href="#"><i class="fa fa-sign-out"></i> Logout</a>
								</div>
							</div>
						</div>
						<div class="auth">
                            <a id="profileBt" href="user-settings.html"><i class="fa fa-cog"></i><span class="inlineForLarge"> Parameters</span></a>
						</div>
						<div>
							<span><i class="fa fa-life-ring"></i> Support</span>
							<div id="helpTopMenu" class="n1">
								<div>
									<a id="supportLnk" href="#"><i class="fa fa-life-ring"></i><span class="lbl"> Ask for help</span></a>
								</div>
								<div>
									<a id="docBt" href="help.html"><i class="fa fa-book"></i><span class="lbl"> Help and F.A.Q</span></a>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		
			<div id="header-bottom">
				<div class="region-wrapper">
					<a id="logo" href="../../"><img
						alt="Bonne facture" src="../img/logo-no-slogan-2.svg" />
						<div id="slogan">A quick invoice to be quickly paid</div></a>
					<div id="mainAjIndicator" class="ajax-indicator">&nbsp;</div>
				</div>
			</div>
		</header>
		
		