		
		<header>
			<div id="header-top">
			  <div class="region-wrapper">
				<nav id="top-bar" class="horizon">
				  <div class="share">
					<a id="fbBt" class="shaIt invisible" rel="external" target="_blank"
					  href="http://www.facebook.com/bonnefacture"><i class="fa fa-facebook-official"></i></a>
					<a id="liBt" class="shaIt invisible" rel="external" target="_blank"
					  href="https://www.linkedin.com/showcase/13337475/"><i class="fa fa-linkedin-square"></i></a>
					<a id="twBt" class="shaIt invisible" rel="external" target="_blank"
					  href="http://twitter.com/BonneFacture"><i class="fa fa-twitter-square"></i></a>
					<a id="shareLnk" href="#"><i class="fa fa-share-alt"></i></a>
				  </div>
				  <div class="noAuth">
					<span><i class="fa fa-sign-in"></i>
					  <font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Авторизоваться</font>
					  </font>
					</span>
					<div id="loginTopMenu" class="n1">
					  <div>
						<a id="topLoginLnk" class="loginLnk" href="/v/invoicing/"><i class="fa fa-sign-in"></i>
						  <font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Авторизоваться</font>
						  </font>
						</a>
					  </div>
					  <div>
						<a id="topRegisterLnk" href="/v/register/"><i class="fa fa-key"></i>
						  <font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Регистр</font>
						  </font>
						</a>
					  </div>
					</div>
				  </div>
				  <div class="auth">
					<span><i class="fa fa-user"></i><span id="auth-status" class="inlineForLarge">
						<font style="vertical-align: inherit;">
						  <font style="vertical-align: inherit;">Мой счет</font>
						</font>
					  </span></span>
					<div id="profileTopMenu" class="n1">
					  <div>
						<a id="logoutLnk" class="local-action auth logoutLnk" href="#"><i class="fa fa-sign-out"></i>
						  <font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Выйти</font>
						  </font>
						</a>
					  </div>
					</div>
				  </div>
				  <div class="auth">
					<a id="profileBt" href="user-settings.html"><i class="fa fa-cog"></i><span class="inlineForLarge">
						<font style="vertical-align: inherit;">
						  <font style="vertical-align: inherit;">Параметры</font>
						</font>
					  </span></a>
				  </div>
				  <div>
					<span><i class="fa fa-life-ring"></i>
					  <font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Служба поддержки</font>
					  </font>
					</span>
					<div id="helpTopMenu" class="n1">
					  <div>
						<a id="supportLnk" href="#"><i class="fa fa-life-ring"></i><span class="lbl">
							<font style="vertical-align: inherit;">
							  <font style="vertical-align: inherit;">Попросить помощи</font>
							</font>
						  </span></a>
					  </div>
					  <div>
						<a id="docBt" href="help.html"><i class="fa fa-book"></i><span class="lbl">
							<font style="vertical-align: inherit;">
							  <font style="vertical-align: inherit;">Помощь и FAQ</font>
							</font>
						  </span></a>
					  </div>
					</div>
				  </div>
				</nav>
			  </div>
			</div>
	  
			<div id="header-bottom">
			  <div class="region-wrapper">
				<a id="logo" href="../../"><img alt="Bonne facture" src="../img/logo-no-slogan-2.svg">
				  <div id="slogan">
					<font style="vertical-align: inherit;">
					  <font style="vertical-align: inherit;">Быстрая оплата счета</font>
					</font>
				  </div>
				</a>
				<div id="mainAjIndicator" class="ajax-indicator">&nbsp;</div>
			  </div>
			</div>
		  </header>
		
		