
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-touch-fullscreen" content="yes"/>
	
	<link rel="icon" href="../img/favicon/favicon-32x32.png" type="image/png"/>	
	<link rel="apple-touch-icon" href="../img/favicon/apple-touch-icon-120x120.png"/>
	
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../css/large.css" media="screen and (min-width: 55em)"/>
