
							<div id="pager" class="pager">
								<span id="resNb">0</span> résultats 
								<a href="#" id="firstPage" title="Première page">&lt;&lt;</a>
								<a href="#" id="prevPage" rel="prev" title="Page précédente">&lt;</a>
								<a href="#" id="page1" class="pageLnk" title="Page 1">1</a>
								<a href="#" id="nextPage" rel="next" title="Page suivante">&gt;</a>
								<a href="#" id="lastPage" class="" title="Dernière page">&gt;&gt;</a>
							</div>
							