
							<div id="pager" class="pager">
								<span id="resNb">0</span> results 
								<a href="#" id="firstPage" title="First page">&lt;&lt;</a>
								<a href="#" id="prevPage" rel="prev" title="Previous page">&lt;</a>
								<a href="#" id="page1" class="pageLnk" title="Page 1">1</a>
								<a href="#" id="nextPage" rel="next" title="Next page">&gt;</a>
								<a href="#" id="lastPage" class="" title="Last page">&gt;&gt;</a>
							</div>
							