							<nav class="side">
								<a href="user-settings.html">User connection</a>
								<a href="id-settings.html">Identity</a>
								<a href="print-settings.html">Print layout and PDF</a>
								<a href="message-settings.html">Message options</a>
                                <a href="planner.html">Planned tasks</a>
								<a href="catalog.html">Catalog</a>
								<a href="subscription-settings.html">Subscriptions</a>
								<a href="money-transfer.html">Payments</a>
								<a href="export.html">PDF export</a>
								<a href="export-fec.html">Writings export</a>
							</nav>
			