							<nav class="side">
								<a href="user-settings.html">Подключение пользователя</a>
								<a href="id-settings.html">Удостоверение </a>
								<a href="print-settings.html">Печатная форма и PDF</a>
								<a href="message-settings.html">Параметры сообщения</a>
                                <a href="planner.html">Плановые задачи</a>
								<a href="catalog.html">Каталог</a>
								<a href="subscription-settings.html">Подписки</a>
								<a href="money-transfer.html">Платежи</a>
								<a href="export.html">Экспорт PDF</a>
								<a href="export-fec.html">Экспорт записей</a>
							</nav>
			