							<nav class="side">
								<a href="user-settings.html">Connexion utilisateur</a>
								<a href="id-settings.html">Identité</a>
								<a href="print-settings.html">Mise en page PDF</a>
								<a href="message-settings.html">Messagerie</a>
                                <a href="planner.html">Tâches planifiées</a>
								<a href="catalog.html">Catalogue</a>
								<a href="subscription-settings.html">Abonnements</a>
								<a href="money-transfer.html">Paiements</a>
								<a href="export.html">Export de documents</a>
								<a href="export-fec.html">Export d'écritures FEC</a>
							</nav>

			