<!doctype html>
<%@ page import = "java.io.*,java.util.ResourceBundle,
	mantam.commons.web.servlet.JspUserHelper,
	mantam.netscribe.model.ValidationDAO,
	mantam.netscribe.model.Validation,
	mantam.netscribe.model.URLGenerator,
	mantam.commons.model.UserHelper,
	org.slf4j.Logger,
	org.slf4j.LoggerFactory" %>
<%!
	private static final Logger LOGGER = LoggerFactory.getLogger("mantam.netscribe.UseCode.jsp");
%>
<%
	ResourceBundle cRB = ResourceBundle.getBundle("mantam.commons.ApplicationLabels", request.getLocale());
	ResourceBundle RB = ResourceBundle.getBundle("mantam.netscribe.ApplicationLabels", request.getLocale());
%>
<html>
<head>
	<title>BonneFacture - <%= RB.getString("useCode") %></title>
    <%@include file="WEB-INF/jsp/head.jsp" %>
</head>
<body>
	<div id="page">
		<%@include file="WEB-INF/jsp/header.jsp" %>
	    
	    <div id="main" class="region-wrapper event">
	    	<div id="main-inner">
	    		<img src="<%=request.getContextPath()%>/static/img/pictures/cachet.jpg" alt="Cachet"/>
		    	<div class="desc">
			    	<h1><%= RB.getString("useCode") %></h1>
					<%
					mantam.commons.utils.PersistenceUtil.putContextSFInThread(request);
					JspUserHelper userHelper = new JspUserHelper(request, response);

					ValidationDAO validationDao = new ValidationDAO();
					Validation validation = null;
					try {

						String code = request.getParameter(URLGenerator.CODE_PARAM);

						if (code == null || code.isEmpty()) {
							UserHelper.get().addWarnMessage(UserHelper.LABEL_BUNDLE, "blankCode", null);
							LOGGER.warn("tried to retrieve validation with no code");
						} else {
							validation = validationDao.findByCode(code.toString());
							if (validation == null) {
								UserHelper.get().addWarnMessage(UserHelper.LABEL_BUNDLE, "unvalidCode", code);
							}else{
								boolean done = false;
								
								if (validation.getType() == Validation.Type.EMAIL && validation.isValidable(validationDao)) {
									done = validation.validate(request.getRemoteHost(), validationDao);
								}

								if (done) {
									if (validation.getUser() != null && !validation.getUser().equals(userHelper.getUser())) {
										userHelper.setUser(validation.getUser());
										mantam.netscribe.model.NetscribeHelper.get().setIdentityId(0);
									}
									userHelper.addInfoMessage(UserHelper.LABEL_BUNDLE, "validationDone", validation.getData());
								}else{
									userHelper.addWarnMessage(UserHelper.LABEL_BUNDLE, "validationFailed", validation.getData());
								}
							}
						}
					} catch (Throwable t) {
						userHelper.handleException(t, true);
					} finally {
						validationDao.flush("validation update");
					}
					for(Object message : userHelper.getMessages()){
						out.print(message.toString());
					}
					%>
		
					<p><a id="backLnk" class="lone" href="<%=request.getContextPath()%>/"><%= cRB.getString("backHome") %></a></p>
		    	</div>
	    	</div>  	
	    </div>
	    
	    <%@include file="WEB-INF/jsp/footer.jsp" %>
	</div>
	<script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
	<script src="<%= (request.getContextPath() + "/static/" + request.getLocale().getLanguage()) %>/locale.js"></script>
	<script src="<%= request.getContextPath()%>/static/js/ns4.js"></script>
</body>
</html>